[2018-06-05 16:34] #505 closed

[2018-06-05 16:35] #122 closed

[2018-06-05 17:59] paulschreiber opened #533 ""Trying to get property of non-object" warning in class-coauthors-wp-list-table.php"
On /wp-admin/users.php?page=view-guest-authors&orderby=last_name&order=asc, I'm seeing this error.

[code]

[2018-06-05 18:00] paulschreiber commented on #533
This happens when `$item->linked_account` is a string an not an object.

[2018-06-06 09:46] philipjohn commented on #396
Okay, sounds good - thanks!

[2018-06-07 09:22] TheCrowned commented on #396
I am working on this, but leaving out _email notification_ functions since they actually be removed as per #421.

[2018-06-07 14:10] TheCrowned opened #536 "Missing post count in "Mine" view for coauthor"
If an author is (only) coauthor of some posts, CAP makes sure to add the `Mine` view filter link at the top of the edit.php page. It works, but lacks the posts count that all other views have.

![cap missing count on mine](https://user-images.githubusercontent.com/7880569/41102414-21d2f50a-6a67-11e8-81d8-fd4331b2e22f.png)

Head to `filter_views()` to fix.

[2018-06-07 21:14] mikeavena opened #537 "Guest Authors mapping to WordPress account not working"
I have multiple guest authors that also have WordPress accounts on my site. Guest authors that do have WordPress accounts are linked via the co-authors plus user mapping tool. The issue is the posts attributed to guest authors do not appear in listings for the WordPress account. Clicking on the link for the author in the WordPress admin panel says there are no posts found for the author. It seems

[2018-06-08 08:27] TheCrowned opened #538 "Tests skipped because broken, need to re-enable them"
The following two tests are failing and are currently not running due to an immediate `return`. The issue is well detailed inline, and I am copying it here for reference. We should update them and re-enable them.

- `Test_Author_Queries::test__author_arg__user_is_coauthor__author_arg()`: fails currently because WordPress generates query as `post_author IN (id)` which doesn't match our regex in the

[2018-06-08 08:32] TheCrowned commented on #288
This is not an issue anymore. I went through basically all the code and could not spot any blocks with abbreviated style. There are other Coding Standards not met, but not this one.

[2018-06-08 12:44] TheCrowned commented on #514
`test__author_queried_object_fix()` calls [`get_author_posts_url()`](https://core.trac.wordpress.org/browser/tags/4.9.6/src/wp-includes/author-template.php#L334), which uses `$wp_rewrite` to do `$link = $wp_rewrite->get_author_permastruct();`, so I guess that is why `$wp_rewrite` is being initialized.

Are you sure it should be removed? Aren't there situations in which it may not be already initia

[2018-06-08 12:50] #288 closed

[2018-06-08 13:15] rebeccahum commented on #536
Can confirm -- when I see the "Mine" link, it should be "Mine (x number of posts" to mimic the posts behavior with a count:

i.e. on Pages:

![image](https://user-images.githubusercontent.com/16962021/41160004-94623976-6aeb-11e8-9a0e-d5804a2bed8e.png)

[2018-06-09 07:17] SeanDS commented on #514
I didn't look into this too deeply, so it might be that it is needed in some edge cases, but the initialisation of `$wp_rewrite` sounds like it should be done in WordPress's testing initialisation code. I'd be surprised if this wasn't already initialised somewhere prior to the unit test being run.

[2018-06-09 20:57] TheCrowned commented on #486
As you have seen, this is a problem that only shows up when you install the plugin on a website that already has some users. The plugin needs to create wp_terms for all users that may ever be added as coauthors for quicker search, but it is true that it should not happen on search, and that subscribers should be excluded: I agree on this.

So, the plan we would like to put in action is to **have a

[2018-06-11 16:10] phylaxis commented on #486
Hey @TheCrowned thanks for being open to my feedback. If you need any help testing this as you develop the feature let me know.

[2018-06-13 14:08] TheCrowned commented on #486
Hi @phylaxis! I should have implemented everything that we have talked about :)

I have tested it and it all seems to be working fine for me. I have also added wp_terms deletion for users that should not have a wp_term set up, but that ended up having it with the old code. I will write a detailed PR with all the changes also for you to have a look to, but if you want to test this out in the meanti

[2018-06-13 15:09] TheCrowned commented on #235
With #544, users who do not have the capability to be added as coauthors will not have a wp_term set up anymore at all, so this problem is likely to be at least 80% fixed. At that point, the limit will just be _how many coauthors we are ignoring_. For the search results to be empty, the post will have to have 10 coauthors already. If this happens often, we could bump the limit to 20 and we should

[2018-06-13 16:20] mariovalney commented on #518
Thanks for your support @mjangda

[2018-06-15 11:32] TheCrowned commented on #470
I've tried reproducing the issue, but did not manage to. From the behavior you are getting, it almost looks like you don't have permissions to set coauthors. I know you have said you used an admin account, but at this point it may be worth checking that `$this->current_user_can_set_authors( $post )` returns `true` for you!

[2018-06-15 11:37] TheCrowned commented on #458
I am running tests with WP latest (at this time, 4.9.6) and PHP 7.2.5, and everything runs smoothly. Is this still an issue?

[2018-06-15 16:55] catchmyfame commented on #536
Related to [the other "Mine" link problem](https://github.com/Automattic/Co-Authors-Plus/issues/508)?

[2018-06-16 09:12] TheCrowned commented on #536
No I don't think they are related at all - actually, a fix for this one is basically already available, but has been removed from another pull request because it didn't belong there.
Here it is: https://github.com/pdemarte/Co-Authors-Plus/commit/5d7ac640c595d4c3f8df0d14caf5bf079be7c9a6#diff-cf3698a69dea8725064e7ec6582e7a1eL1305

[2018-06-18 10:20] TheCrowned commented on #463
Hi @KrashKartMedia and @tw2113 - I was having a look at this issue, but I am not able to reproduce it. Apparently, the WP default search function doesn't allow to search for author. If you search for "Charlie Chaplin", you will only get posts that contain those words, no authored by a user with that name (provided it exists, of course!). So how are you doing it? Are you using a plugin to boost the

[2018-06-18 10:29] TheCrowned commented on #427
Hi @yomisimie, I have tried recreating the issue with the latest commit of the master branch of this repository, but I haven't managed to. What I have done is:

1. Create a new user having as username an email address (pluto@example.it)
2. Go to an already existent post, with 2 coauthors
3. Add the new user as coauthor and save
4. Add yet another new user as coauthor and save

![screenshot from 20

[2018-06-18 14:41] #538 closed

[2018-06-18 15:16] tw2113 commented on #463
I believe we ended up coupling up CoAuthor with the "Search Everything" plugin and got the type of results we were looking for.

[2018-06-20 03:43] jacobarriola opened #549 "the_archive_title() method returns null on non-author templates"
The `the_archive_title()` method when used on non author templates returns null. I suspect the issue is because there is a function that is hooked to the `get_the_archive_title` filter and fails to return the `$title` value.

I have a [PR](https://github.com/Automattic/Co-Authors-Plus/pull/535) for this. How should we proceed with the PR?

Thanks!

[2018-06-20 14:44] dartiss commented on #508
Heavy.com are also seeing the same issue.

They have the following filter in place for database performance issues, and it's been found that removing this temporarily fixes the user posts issue...

`add_filter( 'coauthors_plus_should_query_post_author', '__return_false' );`

However, I would not recommend removing this on any production sites, as the consequences of the performance problem is much

[2018-06-20 19:58] TheCrowned commented on #465
I am seeing this issue as well:

![screenshot from 2018-06-20 21-53-01](https://user-images.githubusercontent.com/7880569/41681459-f4adbe48-74d4-11e8-968f-6c672b9401af.png)

[2018-06-21 09:29] TheCrowned commented on #465
Thanks for the feedback - I will have a look at what changed after that version and hopefully find a fix for the issue :)

[2018-06-21 15:42] #463 closed

[2018-06-25 16:36] rebeccahum commented on #549
Merged #535

[2018-06-25 16:36] #549 closed

[2018-06-27 18:13] #273 closed

[2018-06-27 19:17] #489 closed

[2018-07-03 14:31] TheCrowned opened #550 "Include a uninstall routine"
Right now, the plugin does not uninstall itself at all. We may want to create a `uninstall.php` file that removes all plugin records from database to avoid leaving it cluttered with potentially unwanted data.

[2018-07-04 08:04] TheCrowned opened #551 "CAP removes the Author field in bulk edit actions"
Without CAP, it's possible to bulk edit post author:

![wo cap 2](https://user-images.githubusercontent.com/7880569/42264647-8cf2e222-7f71-11e8-9097-7f27ac080750.png)

With CAP active, the field vanishes and no coauthor field is added in replacement:

![w cap](https://user-images.githubusercontent.com/7880569/42264667-9a555e36-7f71-11e8-9f95-f4d68d70a8e8.png)

[2018-07-04 09:01] TheCrowned opened #552 "Function to retrieve guest author post count"
There just isn't one at the moment ([see here](https://wordpress.org/support/topic/co-authors-post-count/))!

[2018-07-04 13:10] TheCrowned opened #553 "WP_CLI create-guest-authors creates profiles for ALL users"
`wp co-authors-plus create-guest-authors` will create guest authors profiles for all WP users, including subscribers, which we wouldn't want to ever add as coauthors, and uselessly pollutes the database.

[2018-07-04 13:20] TheCrowned commented on #231
Hi there,
is this still an issue, even with the last version of the plugin?

[2018-07-04 13:24] TheCrowned opened #554 "get_user_by should use user_login when querying linked_account"
If a user has a login name that results in the nicename being different from the login, a wrong posts count is displayed in the Guest Authors table and a bunch of notices is displayed:

![screenshot from 2018-07-04 11-10-27](https://user-images.githubusercontent.com/7880569/42268187-2b5598de-7f7b-11e8-87a3-d1457905094a.png)

`Notice: Trying to get property of non-object in /var/www/html/wordpress/

[2018-07-04 13:33] TheCrowned opened #555 "Mine view is empty for non-admins"
I can confirm [this](https://wordpress.org/support/topic/bug-posts-list-for-contributers-is-empty/) is (still) an issue. The `Mine` view for a non-admin is empty if though they have published posts.

![cap-mine](https://user-images.githubusercontent.com/7880569/42279811-45cd361c-7f9f-11e8-88cd-c2bb9dbba6d6.gif)

[2018-07-04 13:38] TheCrowned opened #556 "Inaccurate posts count for guest authors with linked accounts"
The posts count shown in the guest authors table is inaccurate when guest authors have linked accounts.

The issue lies in `filter_count_user_posts()`, that totally disregards che input `$count`. Thus, the posts published prior to CAP install are not considered and the count can be drastically different.

[code]

Instead of `$count = ` we should probably have `$count += `.

[2018-07-04 14:10] TheCrowned commented on #105
So, the CPT for Guest Authors is basically already private. The value of `public` has the function of indirectly setting a the following other arguments: `exclude_from_search`, `publicly_queryable`, `show_in_nav_menus`, `show_ui`. We are already giving a value explicitly to all of them, except `show_ui`.

Thus, currently changing the value of `public` only has the effect of setting `show_ui`. So y

[2018-07-04 14:12] TheCrowned commented on #537
Has to do with #555.

[2018-07-04 14:34] rebeccahum commented on #556
What happens to the count after run of `wp co-authors-plus create-terms-for-posts`?

[2018-07-04 14:39] TheCrowned commented on #556
The counts become correct at that point.

It would be nice to have a cron on plugin activation that would execute the same task :)

[2018-07-04 14:46] rebeccahum commented on #556
Running `wp co-authors-plus create-terms-for-posts` will jack up the count once all the terms pre-CAP install are created.  Closing.

[2018-07-04 14:46] #556 closed

[2018-07-10 16:55] #526 closed

[2018-07-10 17:02] #554 closed

[2018-07-11 08:44] #530 closed

[2018-07-11 08:53] TheCrowned opened #561 "Wrong post count for guest authors with terms"
Calling `count_user_posts()` with CAP enabled leads to wrong counts for users that have a guest author profile linked to them.

This is an example with CAP enabled - clearly off since the `Mine` posts is more than the total:
![w cap](https://user-images.githubusercontent.com/7880569/42560878-0f11328c-84f8-11e8-94d5-bc1dab1faef5.png)

With CAP disabled:
![wo cap](https://user-images.githubuserconte

[2018-07-11 13:12] #511 closed

[2018-07-15 16:49] SeanDS opened #562 "`posts_selection` is an action, not a filter"
The source code has the following filter registration:
[code]

However, `posts_selection` [is an action, not a filter](https://developer.wordpress.org/reference/hooks/posts_selection/), so this line presently does nothing.

[2018-07-15 20:13] TheCrowned commented on #562
I will fix this. It will not change CAP behavior though, because the filter was firing anyway even if it technically is not a filter, as you said.

tl;dr - when `add_action()` or `add_filter()` is called, a new `WP_Hook` object is generated. `apply_filters()` will fire the `apply_filters()` method of that object, while `do_action()` will fire the `do_action()` method of the object. However, this l

[2018-07-16 17:01] TheCrowned opened #564 "Create post terms on install"
We should be creating post terms on install, much like running the CLI command `wp co-authors-plus create-terms-for-posts`. Something similar as what has been implemented in #544 for authors, but for posts.

[2018-07-17 10:07] TheCrowned opened #566 "Migrate author terms from `$username` to `cap-$username`"
Since the non-prefixed `$username` term is outdated (see [`update_author_term`](https://github.com/TheCrowned/Co-Authors-Plus/blob/master/co-authors-plus.php#L1452), which, when inserting, uses the prefixed `cap-`version) I think we should migrate terms to all having the prefix. We could run a `wp_update_term()` on `update_author_term()` if needed and that should settle it.

[2018-07-17 18:41] #561 closed

[2018-07-18 08:10] TheCrowned opened #568 "Test test_search_authors_when_ignored_authors_provided failing"
The test `test_search_authors_when_ignored_authors_provided()` fails here
`$this->assertArrayNotHasKey( $author2->user_login, $authors );`

The issue being that `$ignored_authors` should contain `user_nicename`s, not `login`s.

![screenshot from 2018-07-18 09-09-01](https://user-images.githubusercontent.com/7880569/42868671-cf606cde-8a6a-11e8-8979-cc2e8d97049a.png)

[2018-07-19 12:35] stoniestbirch opened #570 "Function filter_author_archive_title() breaks get_the_author_archive() for other types of archives"
Function filter_author_archive_title() breaks get_the_author_archive() for other types of archives (empty string returned).

See: #441

The code now:
[code]

What should be:
[code]

[2018-07-19 16:36] tobek opened #571 "Deleting Guest Author should free up display name"
Had a user run into an issue where they deleted a guest author, and then had to create a new one with the same display name. Since the deleted guest author still existed in the trash, creating a new one with the same name created a `Display name conflicts with another guest author display name` error.

Workarounds:

- Manually go to `.../wp-admin/edit.php?post_status=trash&post_type=guest-author`

[2018-07-19 19:38] paulschreiber opened #572 "Deleting user A, replacing them with user B results in two authors attached to post"
### Scenario ###
You are _not_ on WordPress.com (or another multisite instance).

You have several WordPress user accounts: B, C, D, …
You have several CoAuthors Plus profile b, c, d, …

Each WordPress user is mapped to a corresponding CoAuthors Plus Profile.

User B (with profile b) writes many articles: A[1], A[2], … A[N]. User B is the sole author for these articles.

User B leaves the organiza

[2018-07-20 08:58] TheCrowned commented on #570
Hi Daniel,
thanks for reporting this! The issue was already fixed in #535 - it has not yet been released as a public update on WordPress.org, but the master branch of this repository contains the fix :)

[2018-07-20 17:22] jtbayly opened #573 "Some author pages empty for some logged in users"
I first posted about this over on Wordpress.org: https://wordpress.org/support/topic/some-author-pages-empty-for-some-logged-in-users/

Now there is another user commenting with the same problem, so I thought I'd post the issue here.

Some authors display as having no posts, but only to logged in users.

For example, while logged in, this page will display “No posts found.” to me:
https://example.

[2018-07-23 17:08] rebeccahum commented on #570
Closed as per ^^.

[2018-07-23 17:08] #570 closed

[2018-07-24 19:29] sboisvert commented on #553
@smistephen Do you want to take a look?

[2018-07-24 19:31] sboisvert commented on #508
@smistephen Would you mind taking a look?

[2018-07-24 19:32] sboisvert commented on #571
@smistephen Want to take a look?

[2018-07-24 20:41] rebeccahum commented on #536
Edge case is the "Mine" count is inaccurate/not visible when you have a user linked to a guest author and they are not the first co-author on a post.

[2018-07-25 00:14] #568 closed

[2018-07-25 15:37] smistephen commented on #571
Hmmm.

It... works for me?

Here are my steps:
1) Create guest author with display name Stephen Smith, first name Stephen, last name Smith.
2) Delete guest author.
3) Perform step 1 again.

Step 3 did not produce an error, and it is my understanding that it should.

Thought maybe it only bugs out on guest authors with posts attached, so I published a post with the guest author attached, deleted th

[2018-07-25 15:40] rebeccahum commented on #460
Re-opening as this has been merged over in https://github.com/Automattic/Co-Authors-Plus/commit/ecf869994b79e2e90976aa293bc3f7a861509358 so the issue still remains.

[2018-07-25 15:51] TheCrowned opened #574 "Guest Author Descriptions template tag"
It may be nice to include a template tag to allow display of co-authors with their details, in particular their description (i.e. their bio).

As posted in [this issue on the support forums](https://wordpress.org/support/topic/guest-author-descriptions/), this code should do it:
[code]

[2018-07-25 16:43] TheCrowned commented on #550
Right now I am using this WP_CLI command to clear the database from all non-necessary CAP entries. Useful for testing, it basically reverts `wp co-authors-plus create-guest-authors` and `wp co-authors-plus create-terms-for-posts`. Nor sure we want it in the repo code though.

[code]

[2018-07-25 17:09] smistephen commented on #508
Current state of play on this issue:

I replicated the issue, and believe I've tracked down (part of) the cause.

Turning on the query log, I found that it was running _takes deep breath_

[code]

I realize that's a honker of a query. Let's focus on the relevant part:

[code]

See that last line? `AND wp_posts.post_status = 'private'`? Yeah, that somehow got bumped all the way down there. I assume

[2018-07-25 17:50] TheCrowned commented on #508
Hey! I am debugging a similar issue where the Mine view does not display as expected (I think #555), and I think you may want to look at lines 718 and 734. The idea is that CAP replaces the user ID in the query with the user ID + terms IDs. Just a high level thought since we are working on similar things :)

[2018-07-25 19:09] smistephen commented on #553
The offending line of code seems to be https://github.com/Automattic/Co-Authors-Plus/blob/master/php/class-wp-cli.php#L28, which just plucks out `get_users()` without any qualifiers.

My proposed solution is to simply whitelist the roles that get profiles created for them.

We could do this via changing the args to `get_users()` to `get_users( array( 'role__in" => array( 'administrator', 'editor',

[2018-07-26 11:05] smistephen commented on #553
Alright, [faceoff](http://i.ebayimg.com/images/i/321983143606-0-1/s-l1000.jpg) time.

First step, generate 1000 authors.

[code]

Backup the database so we can restore it and run the test again with different code.

`mysqldump wordpress > dbdump.sql`

First up is changing the `get_users()` call. Let's see how long it takes:

`time wp co-authors-plus create-guest-authors`

[code]
Not bad.

Now let'

[2018-07-26 12:49] smistephen commented on #508
@TheCrowned you were on the right track, it's line 715:

`$where = preg_replace( '/\s\b(?:' . $wpdb->posts . '\.)?post_author\s*IN\s*(.*' . $id . '.)/', ' (' . $maybe_both_query . ' ' . $terms_implode . ')', $where, -1 ); #' . $wpdb->postmeta . '.meta_id IS NOT NULL AND`

Now to figure out how to fix this.

[2018-07-26 13:12] smistephen commented on #508
Got it.

The previous regex looked for

`\s\b(?:wp_posts\.)?post_author\s*IN\s*(.*1023.)`

within

`AND wp_posts.post_author IN (1023)  AND wp_posts.post_type = 'post' AND (wp_posts.post_status = 'publish' OR wp_posts.post_status = 'future' OR wp_posts.post_status = 'draft' OR wp_posts.post_status = 'pending' OR wp_posts.post_author = 1023 AND wp_posts.post_status = 'private')`

which chopped off

[2018-07-27 14:07] smistephen opened #577 "CI build process uses deprecated phpcs ruleset"
Travis currently checks code against the `WordPress-VIP` ruleset:
https://github.com/Automattic/Co-Authors-Plus/blob/master/.travis.yml#L78

This ruleset is deprecated and set to be removed:
https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/issues/1309

Solution: Move to the `WordPressVIPMinimum` ruleset:
https://github.com/Automattic/VIP-Coding-Standards

[2018-07-27 14:58] mallorydxw opened #578 "Guest authors and user accounts can accidentally share the same slug, making the guest author impossible to update"
Creating a guest author, then creating a user account with the same slug makes it impossible to update the guest author, with the following error message:

[code]

The only solution that doesn't involve deleting the guest author is to change the `cap-user_login` postmeta in the database.

Steps to reproduce:

- Visit `/wp-admin/post-new.php?post_type=guest-author`
- Set Display Name to "Peach"
- P

[2018-07-29 20:49] sboisvert commented on #571
Feel free to ask @tobek directly :)

[2018-07-29 20:52] smistephen commented on #571
Hi @tobek, would you mind asking this user for more information? I've been unable to replicate their issue :(

[2018-07-29 23:48] smistephen commented on #553
By default, subscribers are excluded, but can be included if the end user wants.

I re-ran the faceoff with 5000 subscribers included, and still saw no significant difference in the run times. It appears that any difference between the two methods of filtering is by far drowned out by the time it takes to process the result.

[2018-07-29 23:52] sboisvert commented on #553
How would this work on a multisite?
I have a feeling that this kind of queries on WordPress.com (with many millions of users) wouldn't end well. Similarly on any multisite with 100s of thousands or millions of users.

[2018-07-30 00:09] smistephen commented on #553
Perhaps we could ban them from generating guest authors for subscribers?

[2018-07-30 00:12] smistephen commented on #553
They could still do it manually, in the rare case they wanted to make a subscriber a guest author, but they wouldn't be able to do it en masse.

[2018-07-30 02:22] sboisvert commented on #553
While creating the guest authors for subscribers might be a problem, I'm concerned about how the SQL query against the DB would be with a join and a LIKE against an unindexed field on tables with 100K-100M rows

[2018-07-30 11:43] anigeluk commented on #572
Should that expected result be user Q rather than user B as user B's account has been removed.

[2018-07-30 11:50] smistephen commented on #553
I share your concern, and I think I've come up with a way to bridge the gap between the two approaches.

The problem with the database query is that it has the potential to put tremendous strain on the database server.

The problem with back-end processing is that it has the potential to put tremendous strain on that server (fetching an array with ten million elements would blow out most servers).

[2018-07-30 13:07] tobek commented on #571
Huh thanks for looking into it @sboisvert. Yeah I followed the steps on the instance where we ran into this issue and I also did not run into the problem. I was too quick to assume it happened in such a straightforward way! We're running v3.3.0. I am not sure what path she took but there is a guest author in the trash, which I can't see how to do even on purpose:

![image](https://user-images.gith

[2018-07-30 13:10] smistephen commented on #571
I'm sure it'll crop up again some day, and when that day comes, it'll be good to have this stuff written down. Thanks for your efforts! :)

[2018-07-30 13:46] paulschreiber commented on #572
No. Because profile b was always the only author, and profile b has not been remove.

[2018-07-30 15:37] sboisvert commented on #571
@tobek, our pleasure! Marking as closed for now.

[2018-07-30 15:37] #571 closed

[2018-07-31 17:24] acrylian opened #581 "Template tags doc link leads to private blog"
The url http://vip.wordpress.com/documentation/incorporate-co-authors-plus-template-tags-into-your-theme/ used in the readme file leads to a private blog and is not really reachable/usable.

[2018-08-01 07:50] psaikali commented on #572
Hey @paulschreiber! I tried to replicate your bug but could only get expected behavior.

FAQ states:

During my tests, if I deleted user B and attribute all content to user Q, user B posts get assigned to user Q as expected. The Guest Author associated to the Deleted User is deleted too (that makes sense IMHO and was fixed in #120).

Unfortunately, I could not recreate this bug. Could you try to r

[2018-08-01 15:00] psaikali commented on #578
I think this error message could be considered outdated now, as the "Create profile" link is not displayed by default in the Users table (some history : https://github.com/Automattic/Co-Authors-Plus/pull/248).

I'd be happy to have some insights from other people on that before try to solve this.
One solution would be to intercept all new WP_User creations and check if a Guest Author already exist

[2018-08-01 15:13] TheCrowned commented on #581
Thanks so much for reporting this! The link is now fixed (you may need to clean your browser cache) :)

[2018-08-02 11:57] #581 closed

[2018-08-02 12:17] psaikali commented on #551
I think we should wait to fix this issue, here's why.
I started working on a fix for that in a separate forked repo: https://github.com/psaikali/Co-Authors-Plus/commit/2ac1afbacaec965bbd35bbdd569b8eeb3c160c03

![cap-bulk-edit-coauthors](https://user-images.githubusercontent.com/1606655/43582595-42d9b8de-965d-11e8-957f-42788fdcac1c.jpg)
As you can see, the UI is ready.
I just need to process the bu

[2018-08-03 08:30] TheCrowned opened #582 "Change post_author to Guest Author linked account, if any"
Right now, CAP updates the WP_Post->post_author field only if one of the added users is only a WP user. Consider the following scenario:

1. Create two guest authors, link them to two real WP users other than `admin`
2. Logged in as `admin`, create a new post and publish it
3. Add the two guest authors above as guest authors and remove yourself; save post

At this point, the post `post_author` wou

[2018-08-03 09:11] TheCrowned opened #583 "Mismatch between different post counting methods"
When [registering a taxonomy](https://codex.wordpress.org/Function_Reference/register_taxonomy), it's possible to provide a callback method that will be invoked when a term is edited, and that will update that term count. This goes in the arg `update_count_callback`.

Right now, we have this snippet of code in place:
[code]
and, as far as I know, it is often desired to filter `coauthors_plus_shoul

[2018-08-03 10:08] psaikali commented on #537
FYI, https://github.com/Automattic/Co-Authors-Plus/pull/576 will fix this.

https://github.com/Automattic/Co-Authors-Plus/issues/508 for more technical details.

[2018-08-03 12:19] psaikali commented on #555
Reporting some of my debugging tales here, just in case.

https://github.com/Automattic/Co-Authors-Plus/pull/560 fixes the **link (href)** of the `Mine` filter.
The `if ( array_key_exists( 'mine', $views ) )` condition was not appropriate because contributors natively have a `Mine` filter, so the custom link was not added and filtering still happened with the native `?author=X` parameter.

https:/

[2018-08-03 13:55] rebeccahum commented on #583
Could we modify `count_user_posts()` to include only the relevant post type in the second parameter?

[2018-08-03 13:55] rebeccahum commented on #583
Could we modify count_user_posts() to include only the relevant post type in the second parameter?

[2018-08-03 18:50] smaryd opened #584 "Get Social profile coauthor"
Hi.
How can I get the author social profile(facebook,linkedin,...) of co-authos plus?

[2018-08-06 22:59] ammist commented on #573
I'm having more site-wide issues w/ the new version of Co-authors plus.  Most author pages on the live site only show one post (even though some guest authors have hundreds).  When I'm logged in, I see zero posts, and some of the time I get taken back to the site homepage.  I've traced the issue to the SQL query that gets generated when the author page is displayed - it returns zero or one result.

[2018-08-08 10:29] TheCrowned commented on #583
We could, and in fact I am guessing Core's call to `count_user_posts()` in, say, the Posts page, already does that. The filter we are using is the following, and we are only using the first two arguments:
[code]
However, if we wanted to use the `$post_type` (and `$public_only`) info, which I really think we should, we couldn't use the term count. Instead, we'd need the custom SQL query with JOINs

[2018-08-14 18:58] #486 closed

[2018-08-15 08:09] TheCrowned commented on #566
Quick note to say that there is already a CLI command `migrate_author_terms` to do so. Still nice to have it done on old installs on the fly as outlined above.

[2018-08-15 09:17] TheCrowned opened #589 "Failing tests in master"
A good number of tests are failing in master due to these two commits:

https://github.com/Automattic/Co-Authors-Plus/pull/544/commits/8e2df320af0073cbbd74ab5b11f6f3e43daa2067
https://github.com/Automattic/Co-Authors-Plus/pull/544/commits/6509556c2b62e2832bed8ba06c33895e808650bf

![screenshot from 2018-08-15 10-09-45](https://user-images.githubusercontent.com/7880569/44140887-657212e0-a073-11e8-9f

[2018-08-15 14:10] philipjohn commented on #589
I actually reverted this earlier (#590) when looking into another PR where tests were failing. Thanks for digging out the detail. I'm going to assign this issue to @TheCrowned as the original author of #544 .

[2018-08-15 14:46] TheCrowned commented on #589
@philipjohn will take care of it in the next few hours - what should I do, commit to the old branch of #544 even if it's merged, or a new one? Thanks

[2018-08-21 06:21] florianbrinkmann opened #591 "Plugin shows that author has posts when all posts are in trash"
I’m not sure if that is related to https://github.com/Automattic/Co-Authors-Plus/issues/583, but I experienced the following: After deleting all posts from an author, the plugin displays one remaining (or two on a local copy of the site) post for this user. Removing the posts from trash fixes that.

This does not happen for every user, just for one (it has the admin role, but it works for other au

[2018-08-21 18:34] scofennell opened #592 "SQL Error from Regex in WHERE Clause"
There seems to be an issue with the regex that filters the WHERE clause on the front end:

`SELECT SQL_CALC_FOUND_ROWS wp_posts.ID
FROM wp_posts
LEFT JOIN wp_term_relationships AS tr1
ON (wp_posts.ID = tr1.object_id)
LEFT JOIN wp_term_taxonomy
ON ( tr1.term_taxonomy_id = wp_term_taxonomy.term_taxonomy_id )
WHERE 1=1
AND ((wp_term_taxonomy.taxonomy = 'author'
AND wp_term_taxonomy.term_id = '78'826

[2018-08-23 20:09] paoga87 commented on #506
@TheCrowned this only happens when the Co-Authors-Plus plugin is active...

[2018-08-24 03:41] spiderbites opened #594 "Author archive page does not include co-authored posts"
Hello,

I'm finding that the author archive page only includes co-authored posts if the author is the first author added to the post.

Any help on this would be appreciated, thank you!

[2018-08-24 09:04] strang3 opened #595 "SQL Query Error (Regex)"
The SQL Error shows up when:
- Backend: Show posts from selected user
- Frontend: When on Author page (only when logged in)

Plugin Version: 3.3.0
The error only shows up, because the user id gets replaced wrong.
Ex.:
login user id: 2
selected user id: 24
Wrong Query Part: 'AND wp_term_taxonomy.term_id = '768'4'
(The user id only gets replaces partially.)

I have made a quick fix:
Line 725 - 731:

[2018-08-24 09:14] GaryJones opened #596 "Improve documentation for WP-CLI commands"
The WP-CLI [commands](https://github.com/Automattic/Co-Authors-Plus/blob/master/php/class-wp-cli.php#L118) for Co-Authors Plus are not particularly expressive for WP-CLI users.

Compare any of the DocBlocks against the [WP-CLI Documentation Standards](https://make.wordpress.org/cli/handbook/documentation-standards/), and it's clear that more could be done:

- OPTIONS sections; describes the option

[2018-08-24 09:48] smistephen commented on #596
This documentation can also include unintuitive function behaviour, such as _"the `assign-coauthors` command does not currently allow for multiple coauthors to be assigned"_.

[2018-08-24 12:53] TheCrowned commented on #506
@paoga87 I did try with the plugin active, and I found no issues.

1. Does it happen with all other plugins disabled as well?
2. Could you guide me in reproducing? For example, could you provide a piece of code that does not work for you?

[2018-08-24 19:10] robert-hopla opened #597 "co-author input not visible on custom post type"
the plugin works great for me for POSTS and PAGES,

but it won't show on my custom post types. what did I miss?

[2018-08-27 07:02] TheCrowned commented on #592
Duplicate of #573.

[2018-08-27 07:04] TheCrowned commented on #595
Duplicate of #573.

[2018-08-28 07:00] TheCrowned commented on #594
Hi there,
I have tried, but could not reproduce the issue. Can you please make sure that the issue occurs even with the latest commit from the master branch?

[2018-08-28 07:00] TheCrowned commented on #597
Hi there,
I have tried, but could not reproduce the issue. For example, I have Easy Digital Downloads installed, and the Co-Authors box shows up and works fine in `download` post types. Can you please make sure that the issue occurs even with the latest commit from the master branch?

[2018-08-29 03:04] spiderbites commented on #594
Hello, I pulled the master branch and have the same issue. As far as I can tell the query which loads posts for the author just grabs posts for the given author id, so it doesn't include any posts for which the authors are secondary co-authors.

[2018-08-29 10:11] TheCrowned commented on #594
Thanks for trying that! Could you guide me in reproducing the issue, providing exact steps to follow to make the problem arise? Like, create a guest author/assign a post to it, visit what page, etc... :)

[2018-09-03 03:10] andrewfleming opened #599 "create-guest-authors-from-csv CLI command does not import all author fields"
The `create-guest-authors-from-csv` CLI command can import data for the following five fields:

- `display_name`
- `user_login`
- `user_email`
- `first_name`
- `last_name`

However, the  plugin provides for 12 fields, which are listed in [get_guest_author_fields()](https://github.com/Automattic/Co-Authors-Plus/blob/master/php/class-coauthors-guest-authors.php#L992).

If a guest author field is pre

[2018-09-05 07:38] erlendmr opened #601 "Not possible to delete users when the guest authors functionality is disabled"
It's not possible to delete users if the guest author functionality is disabled.

I get the following PHP error:

`PHP Fatal error: Call to a member function get_guest_author_by() on null in /wp-content/plugins/co-authors-plus/co-authors-plus.php on line 943`.

The guest author functionality is disabled with the following filter:

`add_filter( ‘coauthors_guest_authors_enabled’, ‘__return_false’ );

[2018-09-05 08:46] TheCrowned commented on #601
Thanks for reporting this! I have crafted a fix for the issue and linked it to this issue - while we wait it gets merged, you can apply the patch to your code if you want :)

[2018-09-05 13:48] #601 closed

[2018-09-06 03:36] spiderbites commented on #594
I think I've identified the issue as coming from a theme I'm using where `$post_type` is set to `any` on the author archive page. Not sure how this is causing the issue but setting the `$post_type` to `post` resolves the issue.

[2018-09-06 12:56] antonlukin commented on #573
The same here

[2018-09-17 12:01] alexdobras-at-office opened #604 "how to hide Guest Authors Menu from back-end?"
I cannot hide the Guest Authors and I don't what else to do, please help. Apparently, I cannot find the correct hook to do achieve that. Is there a way to disable that feature in other way ?

https://i.stack.imgur.com/wupD5.png

this is the code I used that is suppose to be working, but not:
[code]

[2018-09-17 12:54] alexdobras-at-office commented on #604
it worked with this:
` remove_submenu_page( 'users.php', 'view-guest-authors' );`

[2018-09-17 12:54] #604 closed

[2018-09-17 13:47] alexiskulash commented on #594
Thanks for letting us know! I'll go ahead and close this issue out as it's no longer a reported bug with the plugin.

[2018-09-17 13:47] #594 closed

[2018-09-18 17:51] #599 closed

[2018-09-19 08:12] shantanu2704 commented on #506
Hey @paoga87, is this still an issue? If so, could you please walk me through reproducing the issue and provide answers to Stefano's questions from the last comment?
Thanks!

[2018-09-19 21:40] JayWood commented on #481
Following this, ran into it on a client project today with Japanese characters. Will provide further testing at a later point. But my version is 3.2.2 currently. Will do further testing with current version but from what I can tell is the following:

When saving a guest author with non-english characters, the display-name, and subsequent post name is passed through `sanitize_title()` which handles

[2018-09-20 01:09] JayWood commented on #481
I was able to confirm this evening that this is no longer a valid issue on either `master` or the `3.3.0` tag.

![](https://i.gyazo.com/be1dfebabb7a0e95b7230bc613579b64.gif)

[2018-09-20 10:57] shantanu2704 commented on #597
Hey @robert-hopla, just following up.
are you using the `[coauthors_supported_post_types](https://github.com/Automattic/Co-Authors-Plus/blob/c5c769aa320948acf6c3a8c2b29f7d768b140db4/co-authors-plus.php#L194)` filter to register your custom post type?
you could do this from your theme's functions.php file.
Thanks!

[2018-09-20 20:18] rebeccahum commented on #481
Thanks for letting us know @JayWood.  I'll close this for the time being then.

[2018-09-20 20:18] #481 closed

[2018-09-24 17:18] Genevieve-K opened #606 "An author (no editor) cannot see all his posts under "Mine""
Hi,
I have an error. An author cannot see only his posts.

For examples, I have 2 posts with the author 29. For one the user 29 is the first author, for the other, it's the second one.
I want to display in the admin only the posts of the current author, two posts for the example.
With a filter of pre_get_posts ($query->set('author', $user_ID )), or when I click “my posts”, only the first post is d

[2018-09-25 10:58] dhruveonmars opened #607 "Author Archive Issue"
I created an archive for each author using author.php and co-authors plus causes an issue. When I visit an authors archive – /author/nicename, for any user other than the first created user I see an sql error on the page:
`SELECT SQL_CALC_FOUND_ROWS wp_posts.ID FROM wp_posts LEFT JOIN wp_term_relationships AS tr1 ON (wp_posts.ID = tr1.object_id) LEFT JOIN wp_term_taxonomy ON ( tr1.term_taxonomy_id

[2018-09-26 03:21] epicfaace opened #608 "View co-authors given a post id"
Right now, you can only use coauthors_posts_links() to get coauthors for the current post. It would be nice to be able to pass in a post id so you can get the links for an arbitrary post.

[2018-09-28 23:37] phylaxis commented on #508
I just tried to use the 1c88a82 patch in my testing environment to see if it would resolve this issue on a custom post type I have. I was unable to get it to work. Is this fix only for the standard Wordpress "post" types?

[2018-10-01 16:14] jtbayly opened #609 "Time for a new release?"
It looks like a lot of improvements have been made in this plugin in the last 6 months. Just wondering if we can get some of them released?

Thanks!

[2018-10-02 18:46] paoga87 commented on #506
@TheCrowned,
1. Unfortunately, I am unable to test with all other plugins disabled, because this is in production and they do not have a "staging or dev" site.
2. I still have the "temp fix" in place.

@shantanu2704, to reproduce all I would do is go back to using the user ID and activate the Co-Authors Plus plugin

[2018-10-03 13:39] #266 closed

[2018-10-04 21:42] eflorea opened #611 "Author Archive shows only posts associated with the linked user in version 3.3.0"
When a co-author is linked to a WP_User the archive page only shows the posts associated with that linked account.

The problem was introduced in 3.3.0.

The get_author_term method has been changed and now it's pulling the term from the linked account only
![screen shot 2018-10-04 at 2 35 36 pm](https://user-images.githubusercontent.com/13055601/46504518-f878c200-c7e2-11e8-83b2-13c379570987.png)

[2018-10-05 02:06] rebeccahum commented on #611
Hiya @eflorea, we reverted that change -- can you please pull from the latest `master` branch?

[2018-10-05 02:06] #611 closed

[2018-10-05 03:37] eflorea commented on #611
Thank you for your quick reply @rebeccahum.

Do you have an ETA of a new release on wordpress.org?

[2018-10-05 21:15] alexiskulash commented on #608
It looks like `get_coauthor_terms_for_post()` provides this functionality:

https://github.com/Automattic/Co-Authors-Plus/blob/cb77cb36c8cdc615375ca4ad4152a7e6d4635e4b/co-authors-plus.php#L1568-L1602

Could you confirm that's what you're looking for?

[2018-10-06 16:39] jrupan opened #612 "Issue with 'coauthors_guest_authors_force'"
I had issue with draft posts. when post saved programmatically(using skyword) with Guest Author, post is correctly relation with Guest Author. but when we open the draft, post Author meta box is set to current loggedin user instead of Guest Author. In-order to overcome this issue, I need to enable the `$force_guest_authors` using `add_filter( 'coauthors_guest_authors_force', '__return_true' );`.

[2018-10-11 23:15] twitchylegs commented on #608
Any suggestions on how to call get_coauthor_terms_for_post in a shortcode and pass in the post id? The following returns that the function does NOT exist.
<pre>
function tl_display_authors( $atts ) {
	$atts = shortcode_atts( array(
		'id' => false
	), $atts, 'tfl-display-authors' );

  $post_id = $atts['id'];
  $buffy ='';
  if ( function_exists( 'get_coauthor_terms_for_post' )) {
    $buffy = 'Fu

[2018-10-12 13:31] mhennessie commented on #597
@shantanu2704 can you elaborate on that filter more, for the life of my I cannot get it to work. I am able to add my custom post type by using an array_push in the plugin files but certainly would prefer adding support using a filter in the functions file.

[2018-10-12 13:35] shantanu2704 commented on #597
Hi @mhennessie !

Something like this should do the trick:

[code]

[2018-10-12 13:36] mhennessie commented on #597
@shantanu2704 thank you for the quick response. I found it immediately after I posted.

[2018-10-12 13:41] shantanu2704 commented on #597
@mhennessie that's great! :slightly_smiling_face:

[2018-10-12 15:20] #597 closed

[2018-10-15 14:42] jonathanstegall opened #614 "Gutenberg does not use the remove_meta_box command"
I was testing Gutenberg a bit today and I noticed that the default author dropdown appears in the Document panel even when Co-Authors-Plus is active.

Of course currently [this command](https://github.com/Automattic/Co-Authors-Plus/blob/master/co-authors-plus.php#L325) removes the box from the classic editor.

I've been looking around for what the equivalent is in Gutenberg. Most of the support th

[2018-10-15 15:31] Genevieve-K opened #615 "Message "is_author was called <strong>incorrectly</strong>" with plugin restrict-user-access"
Message "PHP Notice:  is_author was called <strong>incorrectly</strong>. Conditional query tags do not work before the query is run..."

Stack:
[code]

I took the last version of co-authors-plus.php, the issue is the same.

[2018-10-15 15:43] Genevieve-K commented on #606
I use this code:
`function my_author_posts_for_current_author( $query ) {

	global $current_user;

    if ( ! class_exists( 'CoAuthors_Plus' ) ) {
        $query->set('author', $current_user->ID );
    }
    else {
      $author = new CoAuthors_Plus();
      $term = $author->get_author_term( $current_user );
      $query->set('tax_query', array(  array( 'taxonomy' => 'author', 'terms' => $term->te

[2018-10-15 16:40] phylaxis commented on #606
Thank you so much for the reply. I will give this a try.

[2018-10-24 01:38] rebeccahum commented on #609
@jtbayly Have you tried pulling from the `master` branch?  That should give you the latest with all the bug fixes.

[2018-10-24 01:48] rebeccahum commented on #615
@Genevieve-K Are you able to expand on where you are seeing this and the steps on reproducing?

[2018-10-24 02:00] #595 closed

[2018-10-24 02:00] #592 closed

[2018-10-24 02:02] jtbayly commented on #609
Why didn't I think of that? Thanks.

[2018-10-24 02:03] #609 closed

[2018-10-24 02:17] rebeccahum commented on #573
Do you know what it is about the logged in user that is causing this query to fail for them?  E.g. any reproduction steps?

[2018-10-24 02:28] #584 closed

[2018-10-24 10:18] jtbayly commented on #573
The commit on #580 claims to fix this. I haven't tested it, but from what I've read of all the connected issues, it seems that the logged in user's ID must match the start of the other user's id. If so, a simple way to reproduce would be to create a site where you are ID '1' and then create users until you've got users with id's in the teens (eg user id '13'). From there, assign them content, and

[2018-10-25 10:05] shantanu2704 commented on #608
Hey @twitchylegs!
`get_coauthor_terms_for_post` is a method of the `CoAuthors_Plus()` class.

So you'd have to use [`method_exists()`](http://php.net/manual/en/function.method-exists.php) instead of `function_exists()`.

[2018-10-25 12:58] xavier-bs commented on #607
I have the same issue on author archive page. To fix it, I have to check if `$current_coauthor_term` is not empty in `co-authors-plus.php` on line 726 (ver 3.3.0)

[2018-11-03 20:48] ituk opened #616 "can't use get_avatar() for authors without email address"
Guest authors without email address are not recognized by `get_avatar(get_the_author_meta( 'user_email'), $size)`, which makes sense, but using `get_the_author_meta( 'ID' )` instead doesn't work even for authors with email address.
Steps to reproduce the issue:
 1. add this script outside the loop (in a sidebar of a single page for instance):
`if( function_exists('coauthors') ) :
	$i = new CoAutho

[2018-11-03 21:01] #250 closed

[2018-11-03 21:07] ituk commented on #108
is this still valid? I encountered this issue today when I couldn't use get_avatar() with ID instead of user_email for guest authors without email. just opened a new thread for that, please have a look here: https://github.com/Automattic/Co-Authors-Plus/issues/616

[2018-11-05 16:56] rebeccahum commented on #616
Closing in favour of #108.

[2018-11-05 16:56] #616 closed

[2018-11-05 17:28] rebeccahum commented on #573
@jtbayly Thanks for the information, I'll look into this.

[2018-11-05 18:20] jtbayly commented on #573
Great. I'm sure you've noticed that I did test the patch in #580 and that it works for me.

[2018-11-05 18:57] rebeccahum commented on #607
Closing in favour of #573 where it was initially reported.

[2018-11-05 18:57] #607 closed

[2018-11-05 20:06] rebeccahum commented on #552
Closing from #605.

[2018-11-05 20:06] #552 closed

[2018-11-05 20:33] jtbayly commented on #508
I'm not sure whether it's only standard post types, but I can confirm that it does work with standard posts.

[2018-11-06 02:01] #608 closed

[2018-11-06 02:06] #193 closed

[2018-11-06 19:25] WPprodigy opened #620 "Multiple undefined indexes during csv import"
Not all of the columns are necessary, so these are often not defined: https://github.com/Automattic/Co-Authors-Plus/blob/master/php/class-wp-cli.php#L822-L828

Same for `$author['user_email']`, `$author['first_name']`, `$author['last_name']`, etc.

____

On another note, user_email is required, otherwise the checks after this fail because it thinks the current user being imported is the same as an

[2018-11-10 13:00] mostafaabd commented on #452
Hello, i'm a new contributor,  so can i fix this issue, and also there is no more documentation to test my changes before send pull request for php and jquery code.

[2018-11-13 21:35] jonathanstegall commented on #614
I tested 4.3 of Gutenberg and this issue was still present. But then I tried the WordPress 5.0 Beta 4 that was released today, and it appears to have been resolved.

The [release post](https://wordpress.org/news/2018/11/wordpress-5-0-beta-4/) has this info:

Presumably the advanced meta box usage is what fixed this issue.

[2018-11-13 21:39] jonathanstegall commented on #614
I tested 4.3 of Gutenberg and this issue was still present. When I tried the WordPress 5.0 Beta 4 that was released today without the Gutenberg plugin the issue was still present. But then, when I activate the Gutenberg plugin (still version 4.3), this issue appears to have been resolved.

The [release post](https://wordpress.org/news/2018/11/wordpress-5-0-beta-4/) has this info:

Presumably the a

[2018-11-15 21:12] WPprodigy opened #622 "Support Elasticsearch powered WP Queries"
If you are offloading queries to ES, then there is a particular problem when filtering posts by author. and use CAP. This can be seen both in the admin and on the author archives in the frontend (the co-authored post only appears for the first author).

This happens because ES can only use the WP Query args to formulate it's own query, and CAP manipulates the SQL directly: https://github.com/Autom

[2018-11-22 00:27] rebeccahum opened #623 "Linked user posts does not show in queried guest author term"
Looks like #386 introduces a bug where when querying by guest author in the backend no longer shows the linked user's posts.

Relevant commits:
* https://github.com/Automattic/Co-Authors-Plus/commit/35b1cf14a0068eee63bb3be096615c2e3e07bf55
* https://github.com/Automattic/Co-Authors-Plus/commit/4fffcaab45cb3f907586ad69a461dfe00533532a

It's from this line:

https://github.com/Automattic/Co-Authors-

[2018-11-22 04:12] rebeccahum commented on #623
Marking as resolved, as `wp co-authors-plus create-terms-for-posts` resolves this.

[2018-11-22 04:12] #623 closed

[2018-11-26 18:08] hyperionjrw opened #625 "Custom query for Author results in a WordPress database error"
With a custom query for an Author's posts WordPress will throw a DB error due to malformed SQL.

Before your post_where filter runs the query looks like this:
`' AND   wp_posts.post_author IN (10202675)  AND wp_posts.post_type = \'post\' AND ((wp_posts.post_status = \'publish\'))'`

After it looks like this:
`' AND ( wp_posts.post_author IN (10202 OR (wp_term_taxonomy.taxonomy = \'author\' AND wp_

[2018-11-26 18:18] benlk opened #626 "plugin docs on vip.wordpress.com reference a missing URL"
Hi, https://vip.wordpress.com/plugins/co-authors-plus/ references the Byline https://vip.wordpress.com/plugins/byline/ plugin, but that plugin's URL goes to an empty page.

[2018-11-26 18:19] benlk opened #627 "Docs on wp.org plugin listing have outdated screenshots"
Compare https://vip.wordpress.com/plugins/co-authors-plus/ to https://wordpress.org/plugins/co-authors-plus/, and observe that the .org plugin listing has some very outdated screenshots.

- [ ] replace screenshot-1.png, screenshot-2.png, screenshot-3.png in this repo with newer screenshots

[2018-11-27 19:31] rebeccahum commented on #625
@hyperionjrw Do you have any steps on how to reproduce the issue?

[2018-11-28 11:33] hyperionjrw commented on #625
With a clean WordPress install do the following:

- Run this SQL to make sure the next user created has an ID that'll cause a problem:
    `ALTER TABLE wp_users AUTO_INCREMENT = 9099999999;`
- Create a new users
- Create a post with that user account or change an existing post over to that user.
    We basically need the id in the post_author column.
- Activate the plugin
- Make sure to add this u

[2018-11-28 21:01] jonathanstegall commented on #614
I saw a [recent update](https://github.com/WordPress/gutenberg/issues/6533#issuecomment-441816757) in Gutenberg about this:

Co-Authors-Plus does appear to function regardless of what that dropdown is doing, but it does potentially cause users a lot of confusion.

[2018-11-28 21:31] MastaBaba commented on #499
I just did a fresh install of 3.3, added a bunch of posts and for one post added a second author. Right then, every page, frontend and backend, started generating this notice.

[2018-11-29 01:35] rebeccahum commented on #625
Thanks for providing detailed steps, @hyperionjrw!  Much appreciated.  I've taken a look at the PR and I'm happy to merge once the changes have been completed.  Thanks again!

[2018-11-29 01:44] rebeccahum commented on #499
@MastaBaba Any other information you can provide for reproducing?

[2018-11-29 14:52] rebeccahum commented on #625
Closing per #628.

[2018-11-29 14:52] #625 closed

[2018-11-29 16:00] MastaBaba commented on #499
Not sure what I can add; I had a clean Wordpress install, installed co-authors plus, created a few posts, added an additional author to one post. Then every page returned the notice above.
I had debug mode turned on. I had to turn it off to be able to continue working.

[2018-12-07 14:03] mjangda commented on #614
Thanks for flagging this @jonathanstegall. Agreed that the dual author inputs is a cause for confusion. For now, a "simple" fix may be to use javascript to hide/remove the core author box but definitely worth finding a better long-term solution as well.

[2018-12-13 16:36] DailenG commented on #551
Just ran into this myself. Looks like we'll have to wait for 5.0.2 for the bulk_edit_posts to be completed.

[2018-12-13 18:46] alexdobras-at-office opened #635 "This ugly error..."
I keep getting this error when I try to add more users to a posting, so I cannot add any :(
`Uncaught SyntaxError: Unexpected token <
    at eval (<anonymous>)
    at load-scripts.php?c=0&load[]=jquery-core,jquery-migrate,utils,jquery-ui-core,jquery-ui-widget,jquery-ui-mouse,jquery-ui-sortable,moxiejs,plupload&ver=5.0.1:2
    at Function.globalEval (load-scripts.php?c=0&load[]=jquery-core,jquery-m

[2018-12-13 18:49] aldobsom opened #636 "This ugly error in console..."
I keep getting this error when I try to add more users to a posting, so I cannot add any :(
`Uncaught SyntaxError: Unexpected token <
    at eval (<anonymous>)
    at load-scripts.php?c=0&load[]=jquery-core,jquery-migrate,utils,jquery-ui-core,jquery-ui-widget,jquery-ui-mouse,jquery-ui-sortable,moxiejs,plupload&ver=5.0.1:2
    at Function.globalEval (load-scripts.php?c=0&load[]=jquery-core,jquery-m

[2018-12-13 18:49] #635 closed

[2018-12-13 20:11] rebeccahum commented on #636
Hi @aldobsom!  Thanks for reporting this, do you have any steps on reproducing?

[2018-12-13 20:11] rebeccahum commented on #636
Hi @aldobsom!  Thanks for reporting this, do you have any steps on reproducing?

[2018-12-14 17:00] aldobsom commented on #636
hi @rebeccahum. this is what i am trying to findout myself. it seems like there's a plugin or some code interfering with co-author plugin but cannot figure it out,

[2018-12-14 17:01] aldobsom commented on #636
hi @rebeccahum. this is what i am trying to findout myself. it seems like there's a plugin or some code interfering with co-author plugin but cannot figure it out,

[2018-12-18 04:54] benlk opened #637 "Post has a guest author term in database, but guest author does not appear in editor, and corresponding guest-author post is missing"
With co-authors plus 3.3.1 and WordPress 4.9.2, and with WordPress 5.0.1 and Classic Editor, the following behavior appears.

I have a post, which `wp post get 87654 --format=csv` describes thusly:

[code]

The post's terms are as follows

[code]

This post does not appear in `wp co-authors-plus list-posts-without-terms`.

The term has metadata:

[code]

But it's not the only "J Dale Shoemaker" te

[2018-12-18 22:06] rebeccahum commented on #637
Hi @benlk, looking at `reassign-terms` I'm not sure if that would meet your needs:

Instead, I would suggest looking at the CLI `wp co-authors-plus swap-coauthors` and then you can manually delete the post author term after.  As always, I recommend doing extensive testing before running this on production data.

[2018-12-18 22:07] rebeccahum commented on #637
Hi @benlk, looking at `reassign-terms` I'm not sure if that would meet your needs:

Instead, I would suggest looking at the CLI `wp co-authors-plus swap-coauthors` and then you can manually delete the ghost post author term after.  As always, I recommend doing extensive testing before running this on production data.

[2018-12-18 22:08] rebeccahum commented on #636
@aldobsom Does this occur for you on a fresh local install of CAP with no other plugins enabled?

[2018-12-18 22:11] rebeccahum commented on #637
Hi @benlk, looking at `reassign-terms`, it looks like it would meet your needs.  As always, I recommend doing extensive testing before running this on production data.  Alternatively, I would suggest looking at the CLI `wp co-authors-plus swap-coauthors` and then manually deleting the ghost post author term after.

[2018-12-18 22:16] #637 closed

[2018-12-19 11:34] aldobsom commented on #636
@rebeccahum I found out what was the problem: my code. The plugin is fine :)

[2018-12-19 11:34] #636 closed

[2018-12-19 11:39] alexdobsom opened #638 "Add posts in Mine"
Display post in Mine also if current user is a multiple author. Is this possible to achieve?

_Currently in WP if a second author is added to the Co-author metabox that particular post doesn't appear on Mine, only on All._

All (1) | Mine | Published (1)

![image](https://user-images.githubusercontent.com/30396343/50218045-44bfb100-0393-11e9-9b0b-4ae1d7799828.png)

[2018-12-19 12:34] aldobsom commented on #536
@rebeccahum What if we don't use Guest Authors but need Mine to show added co-authors?

[2018-12-20 00:07] aldobsom commented on #536
@rebeccahum exactly

[2018-12-31 13:03] ituk opened #639 "I have a Hebrew translation for the plugin"
it's half done, but useful already. where do i upload it?

[2019-01-02 22:32] rebeccahum commented on #639
Hi there!  Feel free to create a PR for it: https://help.github.com/articles/about-pull-requests/

[2019-01-02 22:32] rebeccahum commented on #639
Hi there!  Please feel free to create a PR for it when complete: https://help.github.com/articles/about-pull-requests/

[2019-01-08 13:06] pjeaje opened #642 "plugin conflicts with custom taxonomy archive page titles"
See the issue here...
https://wordpress.org/support/topic/this-plugin-conflicts-with-custom-taxonomy-archive-page-titles-in-my-theme/

[2019-01-11 21:19] robmaurizi opened #643 "Wrong user description showing on Author archive"
It seems that the author description that's being shown on the author archive is generated by pulling the author of the first post in the result set. However, if the first post contains co-authors, and the author in question is NOT the primary author of the first post, the description appears wrong.

Using the following filter works around the issue:

function mp_author_description_filter( $descri

[2019-01-13 17:44] blauertee opened #644 "co-authors can't edit their posts"
This might be easy to solve but I've no idea how to debug what's happening here.

The plugin seems to work fine but co-authors can't edit the posts they're assigned to. Which capabilities do users need to edit post's of which they're coauthors?

capabilities the coauthor has (insufficient??):
`create_posts` `edit_published_pages` `edit_pages edit_posts` `edit_published_pages` `edit_published_posts

[2019-01-15 00:51] rebeccahum commented on #452
Closed per #621.

[2019-01-15 00:51] #452 closed

[2019-01-16 14:37] aldobsom commented on #348
The reason may be inserting bulk posts via code (functions.php).
I have this use-case to do now and I can't figure it out.
How to add multiple users for the same spot via` wp_insert_post()`?

[2019-01-22 21:40] jjeising commented on #465
Similar reports:

https://wordpress.org/support/topic/mine-pages-posts-not-showing-up/
https://wordpress.org/support/topic/can-not-list-all-posts-of-co-author/

As far as I see this happens when co-authors are linked to system users. In this case only posts made by the system user alone are shown, not posts where the co-author is assigned. I temporarily solved this in my theme with a custom query,

[2019-01-30 12:32] Biont opened #645 "Guarantee that $wp_query->queried_object_id is an integer"
You're changing the default `queried_object_id` on authors pages to the guest author's ID [here](https://github.com/Automattic/Co-Authors-Plus/blob/b3f34ce6f989f26d25dcad729767bf72be893677/co-authors-plus.php#L1131). At least on my test environment, this is now a string, which conflicts with the declared type of that field which should be an integer:
[code]

So any code that uses it and relies on

[2019-01-30 13:19] manuelmeister commented on #614
@mjangda is there a plan to replace the author field with a coauthor field in Gutenberg?

[2019-01-30 18:54] rebeccahum commented on #645
@Biont Hi there!  Thanks for reporting this -- feel free to open up a PR with steps on reproducing.

[2019-02-06 22:57] benlk commented on #615
With WP_DEBUG, I'm seeing this same error message in several places on every page, in the server log, and prefixed on the output of every wp-cli command.

[code]

Disabling Co-Authors Plus fixes the problem:

[code]

[2019-02-06 23:10] benlk commented on #615
Addendum: After disabling akismet better-search-replace bwp-google-xml-sitemaps tweetable-text slack publish-to-apple-news popup-maker no-nonsense-google-analytics insert-headers-and-footers gravityformsstripe gravityformsmailchimp gravityforms gravityformssubtotal, the message also went away, so this is probably the intersection of CAP and some other plugin.

[2019-02-07 03:53] rebeccahum commented on #615
@benlk Are you able to pinpoint which plugin?

[2019-02-10 23:36] kodemonster commented on #102
@danielbachhuber  Has this issue been solved?

[2019-02-11 05:47] rebeccahum commented on #102
@kodemonster Hi! It doesn't look like it, feel free to make a PR with the changes. Thank you!

[2019-02-12 15:30] bcd123 commented on #644
I have the same (or a similar?) problem.

WordPress 5.0.3
Co-Authors-Plus Version 3.3.1

*Authors can edit their posts
*Co-authors (who are not first authors) cannot edit posts (page does not load, 403)

If I add the "edit_others_posts" ability to the co-author in question then they can edit the post. But they can also now edit all of the posts.

[2019-02-12 16:03] bcd123 commented on #644
I see this error in the console on chrome:

api-fetch.min.js?ver=2.2.7:formatted:358 GET https://MYSITE.com/wp-json/wp/v2/posts/24815?context=edit&_locale=user 403 (Forbidden)

When I try that url manually in the browser I get:

{"code":"rest_forbidden_context","message":"Sorry, you are not allowed to edit this post.","data":{"status":401}}

I have confirmed that the user is listed as a co-author

[2019-02-12 17:10] blauertee commented on #644
Okay interesting I'm also on WP 5.0.3
Are you using other plugins?

I've got these in use:
[code]
I can't really reproduce the error message, what have you done to get it, does the edit button exist for coauthors? On my side they don't even get the button.

But if a coauthor simply opens the uri `http://MYSITE.com/wp-admin/post.php?post=POST_ID&action=edit` I get the same text displayed on the scr

[2019-02-12 17:21] jtomeck commented on #644
@bcd123 and I are also using User Role Editor, but I have disabled it (as well as all other plugins) on a development instance of our site to test and we are still experiencing the same issue.

I was hoping having it in a development space with PHP error reporting enabled would show some kind of error, but I'm still getting a blank page, which means the actual PHP is not the culprit.

**To reprodu

[2019-02-12 17:58] blauertee commented on #644
But there is no edit button right, you enter the edit url manually? If that's the case I guess we've got the same issue.

[2019-02-12 18:00] jtomeck commented on #644
Oh interesting. There is an edit link under the post title in the list. See screenshot:

<img width="300" alt="screen shot 2019-02-12 at 12 59 58 pm" src="https://user-images.githubusercontent.com/1560779/52657205-22936c80-2ec6-11e9-8c21-cdffa787d8bd.png">

[2019-02-12 18:05] blauertee commented on #644
I only get the Preview button.

[2019-02-18 20:10] subrato30 opened #647 "If certain characters exist in the name, display_name is set to empty string"
I am adding authors using command line (wp cli) and few authors have following characters (é, ç, etc) in their name. It throws an exception. **Note that I modified some code to check what the error is**

![image](https://user-images.githubusercontent.com/41803529/52974126-7a324c00-338e-11e9-8107-58812233983d.png)

sanitize_text_field() is returning an empty string for names with those characters.

[2019-02-19 17:45] cafenoirdesign commented on #647
89480-z-wordpressvip

[2019-02-20 02:20] WPprodigy opened #648 "Linked accounts cause author archive query to skip searching for the guest author term"
You end up with queries like this on author archives:

[code]

Notice how `wp_term_taxonomy.taxonomy = 'author' AND wp_term_taxonomy.term_id = '83'` appears twice, when it should be querying for the guest author term and the linked account term.

_____

## Replicating

1. Create a Guest author account and assign a post to them.
2. Create a normal WP author account.
3. Link the new author account t

[2019-02-27 17:25] rebeccahum commented on #648
@WPprodigy This has been reverted already: https://github.com/Automattic/Co-Authors-Plus/commit/869e0601953357c9da7ef7856060ec8eb3442966
Can you confirm if the issue still occurring via the latest master branch?

[2019-02-27 20:01] WPprodigy commented on #648
Right, so the issue does not occur in the master branch. Wasn't sure if we were using that branch differently than release branches.

It'll just be a re-occurring problem until the next release then I suppose.

[2019-02-27 20:30] rebeccahum commented on #648
@WPprodigy Nope, next release will be based on `master`.  Closing now, let me know if that is sufficient!

[2019-02-27 20:30] #648 closed

[2019-02-28 13:39] Lumrenion opened #649 "Deleting main author and assigning post to new author removes co-authors"
Hi,

**Following usecase:**
Post A is assigned to author X (main author) and author Y (co-author).

Deleting author Y, no form for replacing the author in posts is shown, per wordpress default.
Deleting author X, the form is shown and I can select author Z to be set as the new author for post A.

**Expected behaviour:**
Deleting author X, post A should have author Z as main author and author Y rem

[2019-02-28 17:15] rebeccahum commented on #649
@Lumrenion This sounds like a bug to me, feel free to create a PR for this.  Thank you for reporting!

[2019-03-04 22:25] WPprodigy opened #651 "The posts_where regex causes invalid SQL when there are custom post statuses"
This is related to https://github.com/Automattic/Co-Authors-Plus/issues/508 and caused by https://github.com/Automattic/Co-Authors-Plus/pull/576/.

 ## Problem
When there is a custom post status in the query ([such as the one added by bbPress here](https://github.com/wp-plugins/bbpress/blob/master/bbpress.php#L618-L627)), it can make the current regex do unintended things on this line: https://git

[2019-03-04 22:35] davidsword commented on #651
[code]

[code]

[2019-03-06 15:46] mallorydxw opened #652 "Cannot add an author with a one character long name"
Some people have names which are one character in length. A guest author with such a name cannot be assigned as the author of a post by typing their name.

Steps to reproduce:

- Visit "Add New Guest Author" page ( /wp-admin/post-new.php?post_type=guest-author )
- Enter "A" in "Display Name"
- Click "Add New Guest Author"
- Visit the new post page ( /wp-admin/post-new.php )
- Enter "A" in "Search

[2019-03-13 04:33] WPprodigy opened #654 "posts_where_filter clashes with fix_author_page when $wp_query runs twice"
So, this is a fun one. Stay with me.

`fix_author_page` is hooked onto the core `posts_selection` hook. This hook fires after WP_Query has been built, as described in the note here: https://github.com/Automattic/Co-Authors-Plus/blob/master/co-authors-plus.php#L113

In `fix_author_page`, we override `queried_object` and `queried_object_id` for guest author use-cases: https://github.com/Automattic/C

[2019-03-13 04:52] WPprodigy commented on #654
Ahh, tis already fixed in master >.<

https://github.com/Automattic/Co-Authors-Plus/commit/7be5251421c6a431be540d4470be6fd11c7cb997

[2019-03-13 04:52] #654 closed

[2019-03-13 13:32] kodemonster commented on #627
@benlk  yeh agreed they are out dated, would it be alright if I can work on this and make a PR?

[2019-03-13 13:38] benlk commented on #627
I assume so, but I'm not an owner of this repository.

[2019-03-13 13:47] benlk opened #655 "GitHub repo lacks community guidelines"
More about GitHub's community guidelines features: https://help.github.com/en/articles/creating-a-default-community-health-file-for-your-organization

Adding guidelines to the repo would provide clear guidance on who can propose edits and make pull requests, removing the need for questions like https://github.com/Automattic/Co-Authors-Plus/issues/627#issuecomment-472422975

A list of things to add

[2019-03-18 18:35] manzoorwanijk opened #658 "Author archive title and description is shown wrong"
Since author archive title is fixed using `get_the_archive_title` filter, it gets overridden by twentynineteen which uses the same filter. So the correction filter in Co-Authors-Plus needs to be delayed.

Similarly, the archive description is shown wrong if on an author archive, the first story has co-authors and the first author is NOT the same as the author for the archive. This needs to be fixe

[2019-03-20 13:59] rebeccahum opened #662 ""Mine" for user with linked guest author returns all post types when querying for certain ones"
When you have a user mapped to a guest author and you go to Pages > "Mine", it gets all post types including the `guest-author` CPT:

[code]

Problem lies in the `OR (wp_term_taxonomy.taxonomy = 'author' AND wp_term_taxonomy.term_id = '6')
OR (wp_term_taxonomy.taxonomy = 'author' AND wp_term_taxonomy.term_id = '3')` part. It should probably be something like the below where we look for rows with t

[2019-03-20 14:35] rebeccahum commented on #662
Closing because not able to reproduce now.

[2019-03-20 15:58] rebeccahum commented on #662
Oops, didn't mean to close that.  I'm thinking for the regexp we could do something like `'/\s\b(?:' . $wpdb->posts . '\.)?post_author\s*IN\s*\([' . $id . ']*\)/'`.

[2019-03-21 20:51] WPprodigy commented on #651
Replicating:

1) Activate CAP 3.3.1.
2) Create a normal WP author and author a post with them.
3) View posts and click the "mine column": `https://example.com/wp-admin/edit.php?post_type=post&author=123`

4) Add a custom post status (the params are important, private makes it show up last in the query which triggers this bug):

[code]

5) Disable querying by post author:

[code]

6) If needed, rep

[2019-04-08 03:08] rebeccahum commented on #662
To reproduce:

1) Create guest author 'GuestAuthorA' and create user 'TestUserA'
2) Link guest author 'GuestAuthorA' to user 'TestUserA'
3) Create page under account TestUserA
4) Go to Pages > Mine

[2019-04-08 18:44] catchmyfame commented on #508
We're approaching the one year mark on this bug. Any hope of a fix?

[2019-04-08 18:45] rebeccahum commented on #508
@catchmyfame Hi!  We're just in the phase of testing out a fix for it that will go out in the next release.

[2019-04-11 10:03] pire opened #668 "Author's page not showing posts after updating from 3.2.2"
This affects versions **3.3.beta**, **3.3.0**, and **3.3.1**.
Have tested on WP 4.9 -> 5.1.1.

After updating from **3.2.2**.

And happens when using **WP_Query**,

[code]

and **get_posts**

[code]

Should the posts be queried in a different manner?

Thank you!

[2019-04-15 09:44] hrkhal opened #669 "Refresh meta box nonce after re-authenticating to prevent data loss"
Users are currently losing data when they try to save their post after re-authenticating due to their session expiring.

Once the user has re-authenticated via the wp_auth_check modal everything appears to be okay until they save the post, at which point they are greeted with the 'Link has expired' `wp_die()` screen, due to the meta box nonce no longer being valid. This causes the user to lose any

[2019-04-17 00:53] rebeccahum commented on #668
@pire Hi!  Is this still happening on the `master` branch?

[2019-04-17 08:45] pire commented on #668
I just cloned it and it seems to work well on my local WP instance, thank you!!

I had tried 3.2.2, 3.3-beta, 3.3.0, and 3.3.1 from the [releases page](https://github.com/Automattic/Co-Authors-Plus/releases), and the latest version from [WP plugin page](https://wordpress.org/plugins/co-authors-plus/).

Does that mean that the fix will be coming in 3.3.2?

Thanks again!

[2019-04-17 15:08] rebeccahum commented on #668
@pire Yes, a new release of CAP is imminent, thank you for your patience!

[2019-04-17 15:08] #668 closed

[2019-04-17 15:19] pire commented on #668
Thank **_you_** !

[2019-04-27 23:35] sebrojas14 opened #673 "Can't set authors"
![image](https://user-images.githubusercontent.com/1771574/56856205-2ce8d280-691b-11e9-84db-4787d7d08436.png)

[2019-04-29 13:44] rebeccahum commented on #673
@sebrojas14 Hi! How do you reproduce this?

[2019-04-29 17:40] #662 closed

[2019-04-29 17:40] rebeccahum commented on #651
Closing per #663.

[2019-04-29 17:40] #651 closed

[2019-04-30 04:37] phylaxis commented on #673
I'm seeing a similar issue. In my case what is happening Is I seem to only get a short list of authors, not all the possible authors (users) in my system. At first I thought it was limiting the results to just administrators, but I added a new administrator account and still could not add that new user to a post.

I'm running Wordpress  5.1.1 and Co-Authors Plus 3.3.1

[2019-05-01 12:38] rebeccahum commented on #508
Closing per #662.

[2019-05-01 12:38] #508 closed

[2019-05-01 12:49] rebeccahum commented on #673
@phylaxis Any details on how to reproduce this would be helpful.

[2019-05-01 13:01] rebeccahum commented on #228
Re-opening because reverted #438 per https://github.com/Automattic/Co-Authors-Plus/commit/a645d596357c0b1c84c57a5a5ab9925f669050ee so this issue still exists.

[2019-05-02 13:03] phylaxis commented on #673
Hey @rebeccahum I'm not really sure as it just started happening, I think with the latest Wordpress update. We also use the 'Members' plug-in and I thought there might be a conflict there, but I tried disabling that plug-in and it didn't make a difference.

The steps to reproduce are really to simply try adding an additional author on a post and see that the list returned is not populated with all

[2019-05-06 18:32] sebrojas14 commented on #673
In my case, install OneSignal Push Notifications plugin and thats all

[2019-05-06 20:46] #228 closed

[2019-05-09 18:48] rpasillas opened #676 "Avatar images are incorrect in the admin"
After updating to the latest version, all of the avatars that display in the admin are incorrect. After some troubleshooting it appears the images are being pulling from the media library instead. For example, user's avatar with ID 100 is using the media image that was uploaded to post 100. This does not affect the front-end, just the admin. This is for all instances of the avatar displayed in the

[2019-05-09 19:09] rpasillas commented on #676
Switching themes to a twenty sixteen/seventeen does not resolve the problem.

[2019-05-09 19:32] rebeccahum commented on #676
@rpasillas Hi there! Can you provide steps on how to reproduce?

[2019-05-14 22:29] rpasillas commented on #676
@rebeccahum Took quite a while to figure out how to reproduce.

1. Setup fresh WordPress Site and login.
2. Install Co Authors Plus
3. Note the user's image, if any.
4. Edit the default *Hello World!* post and assign Featured Image.
5. Refresh the admin and now the user image is the same as the Hello World Featured Image.

This behavior is consistent if I create other dummy users and upload a feat

[2019-05-14 22:38] mdrovdahl commented on #676
Seems likely related to https://github.com/Automattic/Co-Authors-Plus/issues/452 and the fix for that in https://github.com/Automattic/Co-Authors-Plus/pull/621

[2019-05-15 12:00] sanketio commented on #676
@rebeccahum

Here https://github.com/Automattic/Co-Authors-Plus/blob/master/co-authors-plus.php#L1725-L1727, we're directly assuming that it'll be a CoAuthor user ID, so whenever any default User ID is passed and let's assume the Post with same ID (same as default User ID) exists, and it has featured thumbnail, then it'll fetch that image instead if User's avatar.

So we need to replace that code

[2019-05-21 18:21] rebeccahum commented on #676
@sanketio Feel free to open a PR!

[2019-05-21 18:26] rebeccahum commented on #153
Closing because Google+ is retired: https://www.blog.google/technology/safety-security/expediting-changes-google-plus/.

[2019-05-21 18:26] #153 closed

[2019-05-24 15:04] rebeccahum commented on #447
Closing because we've removed `wpcom-helper.php`.

[2019-05-24 15:04] #447 closed

[2019-06-03 22:49] gtso86 opened #680 "Get all posts from a coauthor using WP REST API"
Hi,

after I add all coauthors in every post now I need retrieve all posts from a specific user, I'm using WP Rest API but only some users (usually only the first author assigned) get posts.

The endpoint I'm using is `/wp-json/wp/v2/posts?author=1&_embed=true`

For most authors I get no posts.

One possible workaround is create some function to get all posts ids from a specific author, with this

[2019-06-03 23:30] rebeccahum commented on #676
Looks also if the guest author ID is the same as the user ID, the avatar is incorrect as well for the user...

[2019-06-09 02:40] phylaxis commented on #673
I'm circling back on this issue as it still seems to be unresolved. Basically the `coauthors_ajax_suggest` call only seems to return "Admin" users and not any other authors, or any other types of users.

[2019-06-09 03:34] phylaxis commented on #673
I actually went back and reviewed the settings for the "Members" plug-in and it looks like this WAS the issue after all (even though I had tried disabling it and still had the issue). One of our admin users had removed the  “Edit Posts” and “Edit Publish Posts” permissions on Authors and that was causing Co-Authors-Plus to not recognize additional authors on the posts (this included "regular" and

[2019-06-10 03:53] JoshCalico commented on #638
Shows up just fine on my test user account. Perhaps this was patched?

[2019-06-10 04:18] JoshCalico commented on #104
@rebeccahum Absolutely fantastic! Now authors can assign authors to post without needing to be an editor. The only downside is that "new authors" can take over a post. So if User1 assigns User2 to a post (both have a role of author) User2 can remove User1 from the post author. DB table **wp_posts** stores the **post_author** the same as before assigning a co-author. In other words perhaps the filt

[2019-06-10 18:13] JoshCalico commented on #104
Here's the secure version of @rebeccahum 's code:

`$user = wp_get_current_user();
$user_id = $current_user->ID;
$allowed_roles = array('editor', 'administrator', 'author');

if ( array_intersect($allowed_roles, $user->roles ) ) {
    if( isset( $_GET['post'] ) && isset( $_GET['action'] ) && $_GET['action'] === 'edit' ) {
        $post_id = $_GET['post'];
        $current_post = get_post($post_id)

[2019-06-10 22:26] jadlimcaco commented on #551
Is this fix still in progress?

[2019-06-11 20:00] paulschreiber opened #681 "Add bulk actions (delete, …) to list screen"
Currently, `/wp-admin/users.php?page=view-guest-authors` lacks checkboxes and a Bulk Actions menu.

It would be helpful if these options were available, as they are with posts and users.

[2019-06-11 20:01] paulschreiber opened #682 "CLI command to delete guest authors"
Add a CLI command to delete guest authors, i.e.

    wp co-authors-plus delete <id> [--force] [--assign-to=...]

[2019-06-12 23:59] rebeccahum commented on #673
@sebrojas14 can you confirm if this was the case for you?

[2019-06-14 19:09] sebrojas14 commented on #673
No, It has nothing to do with it. As I said, the problem is with another plugin and is cousing a browser error. Basically, OneSignal plugin throw an js error ONLY when CO-Autors plugin is enabled, causing that co-autors plugon didn't load fully:
![image](https://user-images.githubusercontent.com/1771574/59532271-d8d78480-8ead-11e9-81ff-9d1f4eb1de52.png)
![image](https://user-images.githubuserconte

[2019-06-24 21:31] paulschreiber opened #683 "Ability to edit/update slug"
Currently, there is no way to edit or update a slug for a guest author, like you can for a regular post.

[2019-06-29 02:29] vikasrawal opened #684 "Widget to show other posts by co-authors"
I would like to list all other posts by co-authors of a post in the sidebar menu. Is there a straightforward way of doing that?

[2019-07-08 15:59] WPprodigy commented on #572
I've tested this pretty thoroughly and am also having trouble replicating.

Both when deleting the WP user and the Guest Author, the posts are correctly re-assigned for me. So I'm thinking this has perhaps been resolved with another fix at some point?

Closing for now.

[2019-07-08 15:59] #572 closed

[2019-07-08 20:07] rebeccahum opened #687 "Author page SQL error (front-end and back-end)"
Reproduction steps on a fresh WP local install:

1) Login with user ID 1 (in my case, this was the default admin account, but for illustration, we'll call it user A)
2) Create post directly from account as User A
3) Create user B with user ID of 12 (or anything that prepends with "1") and user role of "Contributor"
4) Login as user B and view author archive for User A (example.com/wp-admin/edit.ph

[2019-07-09 17:01] goldenapples opened #688 "Question: can you clarify the force-push done recently here?"
We've been using this plugin as a submodule in project, and our builds have started failing recently due to a missing commit hash. Comparing the repository I have checked out to the current state, the only real difference I'm seeing is that the `wpcom-helper.php` file has been removed.

Is this the case, and if so, is it the only change here?

[2019-07-09 17:35] rebeccahum commented on #688
@goldenapples That is correct.

[2019-07-09 17:35] #688 closed

[2019-07-09 17:58] goldenapples commented on #688
Thanks! I'm wondering: would it be helpful to announce the change with an email or something? This plugin is still pretty widely used and I think many other older projects using it are likely to have build failures as a result...

[2019-07-09 20:14] rebeccahum commented on #688
Hi @goldenapples, to prevent a situation like this from happening, we recommend using subtrees over submodules, as they do not have a strict upstream dependency.

[2019-07-23 11:16] benoitchantre opened #692 "Trying to get property 'user_nicename' of non-object (with Yoast SEO)"
I get the following notification when I request the author archive of a guest author.
The guest author has a Display Name and is not mapped to a WordPress User.

The error disappears when Yoast is disabled.
Tested with WordPress 5.2.2, Twenty Nineteen 1.4 and Yoast SEO 11.7.

[code]

[2019-07-25 09:31] manzoorwanijk opened #693 "Author archive title and description are wrong when using twentynineteen theme."
Since author archive title is fixed using `get_the_archive_title` filter, it gets overridden by twentynineteen which uses the same filter. So the correction filter in Co-Authors-Plus needs to be delayed.

Similarly, the archive description is shown wrong if on an author archive, the first story has co-authors and the first author is NOT the same as the author for the archive. This needs to be fixe

[2019-07-25 09:33] #658 closed

[2019-08-01 00:00] ryankibbe opened #697 "Co-Authors Displaying the First Listed Author's Social Links on All Authors"
Hello. I inherited the management of a client's website that's using Co-Authors Plus to display multiple authors at the bottom of their posts. These posts show multiple "Users" as authors - we aren't using the "Guest Authors" function.

Everything pulls in fine except it duplicates the social links for the first author listed, and doesn't pull in the second author's social links correctly. Please

[2019-08-26 09:56] pjeaje commented on #642
Fixed by [](https://wordpress.org/support/users/jcdesign/) in the above forum post...
[code]

[2019-08-28 18:59] onpubcom opened #702 "Can't create new Guest Authors when latest Gutenberg plugin is installed"
More info here:

* https://github.com/WordPress/gutenberg/issues/17241

[2019-08-29 04:28] kclarke10 opened #703 "302 redirect to /404 for non-existent paged Author archive"
I'm talking about non-existent paged Author archives -> (like for example: https://domain.com/author/mike/page/15/, where mike has only 100 posts with wp set to 10 posts per page)

When Co Authors is enabled, instead of just doing a 404 on that URL, it sends a 302 redirect to domain.com/404 which then returns a 404 code.

Only noticed this because Google has been trying to crawling domain.com/404

[2019-09-05 13:02] ituk opened #704 "posts are unassigned from author after author changes email address"
steps to reproduce:
1. choose an existing user with a few posts, not a guest-author.
2. change their email address, but keep the username and everything else.
3. go to their posts and check out the author meta-box: it's empty.
3b. go to the author's frontend page - no posts found.
3c. go to the user list screen and search for the author - 0 posts

[2019-09-10 19:36] ckeeney commented on #680
Did you ever find a solution to this?  I thought I could pair this plugin with https://wordpress.org/plugins/wp-rest-filter/ but I am not sure what the `meta_key` and `meta_value` should be.  I've tried various combinations of `author` and `coauthor` using IDs and slugs but have not had any luck.  I know this is possible PHP code for my own filter but I was trying to be lazier than that.

[2019-09-10 20:26] ckeeney commented on #680
If filtering by author name is acceptable, I managed to get it working using the `wp-rest-filter` plugin:

`wp-json/wp/v2/post?_embed=true&filter[author_name]=Bob%20Marley`

[2019-09-13 18:09] garretthyder opened #705 "Move the Authors metabox to the sidebar"
Hello,

It would be nice if for both the classic editor and block editor (Gutenberg) that the Authors meta box would appear in the side instead of in the body.

The default Author metabox is in the side so the replacement one should also be placed there.

On the classic editor it's simple to drag into the sidebar, but with Gutenberg that's not possible.

Thanks

[2019-09-13 18:10] garrett-eclipse commented on #705
Oop, I'll minorly correct my 'but with Gutenberg that's not possible.' statement. It's possible just really hard as there's a bug that as you move to the sidebar the page keeps expanding, but with some fiddling you can get it into the sidebar.

Would just be nice to have that the default.

[2019-09-18 21:17] #676 closed

[2019-09-19 13:58] onpubcom commented on #702
The upstream bug has been fixed and merged, closing this one out.

[2019-09-19 13:58] #702 closed

[2019-10-02 17:52] garrett-eclipse commented on #705
I just wanted to refer back to the Gutenberg issue which makes it hard to move the metabox into the sidebar;
https://github.com/WordPress/gutenberg/issues/17432

[2019-10-09 17:29] Oazar commented on #615
Hello,

I am using co-autor plugin and have this probleme as well on login page :

Notice: is_author was called incorrectly. Conditional query tags do not work before the query is run. Before then, they always return false. Please see Debugging in WordPress for more information. (This message was added in version 3.1.0.) in /home/acania/public_html/2019/wp-includes/functions.php on line 4773

For

[2019-10-09 18:24] benlk commented on #615
@Oazar What plugins are active on that site? If you have access to run wp-cli commands, pasting the output from `wp plugin list` here would help.

[2019-10-09 19:04] Oazar commented on #615
Hello Benlk an thanks for your help.

the theme is woffice and here are the plugins

[09-Oct-2019 18:59:46 UTC] Array
(
    [akismet/akismet.php] => Array
        (
            [Name] => Akismet Anti-Spam
            [PluginURI] => https://akismet.com/
            [Version] => 4.1.2
            [Description] => Used by millions, Akismet is quite possibly the best way in the world to <strong>protec

[2019-10-09 19:19] benlk commented on #615
[code]

There are no overlapping plugins between our two installs, besides CAP.

[2019-10-09 19:23] Oazar commented on #615
So ? anything I can do about this ?

[2019-10-24 16:50] asscore opened #709 "Functions that return posts by same author"
Hello, we have some weird use cases on a website, and we have a function that checks the author of the current post and returns a list of posts by the same author.  It works fine by itself.  We were hoping it would continue to work correctly after adding the Co-Authors-Plus plugin.  However it seems to only associate the posts with the first author added.  Any idea on how I can modify this functio

[2019-10-25 11:44] WPprodigy opened #710 "Integrate with Yoast's new Schema API"
Info: https://yoast.com/yoast-seo-11-0/

Extending docs: https://developer.yoast.com/features/schema/api/#add-or-remove-graph-pieces

CAP should ensure it uses the co-author data and not the core WP author data.

[2019-10-26 17:28] lubieowoce commented on #710
i've just encountered this problem. i started working around it, i'll post my hacks when i get something useful working

[2019-10-27 15:57] lubieowoce commented on #710
https://gist.github.com/lubieowoce/02a4df19b69c2ad1b4c328c7145bc861

fixes the problems i had. note that it's probably not very robust and makes some site-specific assumptions. i tried to document them (comments starting with `NOTE: ...`).

[2019-10-30 11:05] PAKOTxx opened #711 "Add authors in other plugin"
Hello,
I need to add multiple authors to post via some function in other plugin.
Using wp-admin it's work well, but I need do it via other function(database migrating).
So I have PostID and some array of authors ID, how I can add them to post?
I found function coauthors_set_post_author_field, but not sure how I should use it in other plugin.
Thanks for the help

[2019-11-12 07:35] ituk commented on #704
this is still an issue. I've now updated a user's email and all his posts are missing an author now.

[2019-11-16 19:05] lubieowoce commented on #711
i think you want `CoAuthorsPlus::add_coauthors`:
[code]
so i'm guessing you'd do something like this (not exactly sure how `$query_type` works though)

[code]

[2019-11-20 22:21] paulschreiber opened #712 "Mention CPTs/coauthors_count_published_post_types filter in README"
Add a "how do I use custom post types with Co-Authors Plus" section to the readme, which includes at least the need to use the `coauthors_count_published_post_types` filter.

[2019-12-04 16:42] paulschreiber opened #715 "Nonfunctional "filter" button on Contributor Profiles page"
On the `/wp-admin/users.php?page=view-guest-authors&orderby=last_name&order=asc` page, there is a nonfunctional `Filter` button:

![image](https://user-images.githubusercontent.com/86784/70162025-04803e00-168b-11ea-8205-e7f8197df576.png)

[2019-12-13 22:20] #712 closed

[2019-12-16 20:41] paulschreiber opened #717 "3.4.2 release has incorrect version number"
The 3.4.2 release has an incorrect version number in at least three places:

1. WPORG https://wordpress.org/plugins/co-authors-plus/
![image](https://user-images.githubusercontent.com/86784/70941425-6e4d0000-201a-11ea-9191-bd1844d012f7.png)

1. The `COAUTHORS_PLUS_VERSION ` constant:
https://github.com/Automattic/Co-Authors-Plus/blob/3.4.2/co-authors-plus.php#L35

1. Dockblock comment:
https://git

[2019-12-16 20:49] #717 closed

[2020-02-18 16:58] strarsis opened #722 "Add normal users?"
Is it possible to add "normal" WordPress users as author of a post?
The search suggestion doesn't seem to search for normal users but rather in the `author` taxonomy,
hence it won't find normal WordPress users.
The existing owner of the post who is a normal WordPress user, is already listed there,
but can't be found by the search either.

[2020-02-18 19:59] rebeccahum commented on #722
Yes, this should be possible.  Are you able to provide any further details on how to reproduce on a vanilla install?

[2020-02-18 20:02] strarsis commented on #722
@rebeccahum: Well, I have to create a guest user per normal WordPress user, also with different username. This can become very complicated.

[2020-03-02 16:41] rebeccahum opened #723 "Uncached user query from get_avatar and get_avatar_url"
When we assign guest authors to a post, we see the below query performed multiple times:

[code]

It's from an uncached user query performed by `get_avatar()` and `get_avatar_url()`.

[2020-03-02 18:25] #723 closed

[2020-03-13 06:19] htdat commented on #680
Just for tracking, another request 2783863-zen

[2020-04-10 19:16] MadtownLems opened #726 "Author Image is broken in Quick Edit"
While editing individual Posts, the avatar image shows as expected.

However, while using Quick Edit, the image tags are rendered as simply:

<img alt="John" class="coauthor-gravatar">

and as such, shows the browser's generic 'missing image' icon.

[2020-04-10 20:21] MadtownLems commented on #726
![2020-04-10 15_21_24-Articles ‹ Topic Hub — WordPress](https://user-images.githubusercontent.com/945157/79020634-f9f51a00-7b3e-11ea-86c0-65af50b3158f.png)

[2020-04-13 19:00] benlk commented on #578
I encountered this bug today, in the following contexts:
- trying to update profile fields for a Guest Author who had the same the same Display Name, First Name, and Last Name as a WP User: no edits could be saved for this Guest Author
- after deleting the existing Guest Author, trying to create a new guest author with the same Display Name, First Name, and Last Name as the WP User: the profile co

[2020-04-20 19:30] #726 closed

[2020-04-22 18:33] jonathanstegall opened #730 "Missing post_name on author archives"
I'm not sure if this is new or if I've just not noticed it before. When I load an author archive on my local install (running version 3.4.3), I'm seeing this:

[code]

Doing an error_log on `$post` at that template.php file returns:

[code]

I took out the individual values from those keys, but they're all what I would expect for an author. I can see that there is a `post_name` key in the database

[2020-04-24 16:25] rebeccahum commented on #730
@jonathanstegall Hi, do you have a stack trace by any chance for that notice?  Is it just viewing any author archive to reproduce?

[2020-05-03 08:05] jxxe commented on #508
@combs Did you ever find a solution for this?

[2020-05-06 18:55] combs commented on #508
my understanding is that it was fixed in #663 but I no longer have need to use this software

[2020-05-07 21:58] MadtownLems opened #732 "Impossible to Reassign Posts to a Guest Author"
From the ReadMe:

'What happens to posts and pages when I delete a user assigned to a post or page as a coauthor?

When a user is deleted from WordPress, they will be removed from all posts for which they are co-authors. If you chose to reassign their posts to another user, that user will be set as the coauthor instead.'

My Guest Authors aren't showing up in the dropdown box as a valid target for

[2020-05-08 17:23] scofennell opened #733 "Selecting an author does not populate the form field"
Hi, I am unable to repro this, despite lots of attempts to mimic the exact browser, OS, wp user, etc.  See video.  Any ideas?

https://vimeo.com/416414068#t=30s

[2020-05-11 14:07] jonathanstegall commented on #730
Sorry for my delay here. I've not been able to reproduce it again. I think it may have been conflicting with a third party plugin's problems, which have since been fixed. I think this can be closed.

[2020-05-11 14:07] #730 closed

[2020-05-11 17:58] kamlesh08 opened #734 "Doesn't work with Newspaper Theme"
Co-Authors Plus Plugin doesn't work with Newspaper Theme.
While I am able to add 2 authors to the post, only 1 author is visible when I publish the post.
Thus, dissolving the point of using the Co-Authors-Plugin

[2020-05-11 18:02] rebeccahum commented on #732
Was the guest author deleted as well?  This is strange, as it should show up as a valid target for reassignment.  If you can let me know how to reproduce this on a clean install, that would be great, thanks!

[2020-05-11 18:03] rebeccahum commented on #734
Hi @kamlesh08, are you finding that the author is not visible on the published post itself or on the backend?

[2020-05-11 18:04] rebeccahum commented on #508
@jxxe This should be fixed now, are you still experiencing this issue?

[2020-05-11 18:09] jxxe commented on #508
@rebeccahum Not exactly this. Some authors are attached to a post, but it doesn't show up when you view their profile. The post only shows up if it is saved after the Co-Authors Plus plugin was activated. For example, [here](https://berkeleyhighjacket.com/?s=Amaya+Polanco+Zimmerman) are the search results for an author, and [here's](https://berkeleyhighjacket.com/author/amayapolancozimmerman/) the

[2020-05-11 18:12] MadtownLems commented on #732
No, the Guest Author wasn't also deleted.

Note: I realized that I failed to indicate that this is in MultiSite. As such, it actually makes some sense for Guest Authors to NOT be visible as a target for reassignment, right, because the Network Administration pages have no concept of 'Guest Authors' ?

However, I then tried Network Activating Co-Authors plus and it still didn't show up.

Can you co

[2020-05-11 18:26] kamlesh08 commented on #734
Hello @rebeccahum, The 2 authors which I added in the post didn't appear when I published the post.

[2020-05-11 18:40] rebeccahum commented on #734
@kamlesh08 You will most likely need to modify the theme to account for the extra authors via the template tags: https://github.com/Automattic/Co-Authors-Plus/blob/master/template-tags.php

[2020-05-11 18:48] kamlesh08 commented on #734
@rebeccahum thanks! I'll have a look at the code snippet and will update you on how it turns out.
Thanks!

[2020-05-11 18:53] sboisvert commented on #508
@jxxe There are 2 ways to solve the problem.
1) The better long term solution is to backfill all the co-authors for all the posts. You can run the CLI command https://github.com/Automattic/Co-Authors-Plus/blob/master/php/class-wp-cli.php#L53
by doing `wp --url=example.com co-authors-plus create-terms-for-posts` to achieve this.
Note that this assumes that [WP-CLI](https://wp-cli.org/) is installed

[2020-05-11 18:56] colorcrate commented on #551
This is still an issue as of May, 2020, any update?

[2020-05-11 19:53] jxxe commented on #508
@sboisvert I get this error: ```Error: 'co-authors-plus' is not a registered wp command.```

[2020-05-11 20:27] sboisvert commented on #508
It's best to test it yourself on your site as it's influenced by the size of your site, the amount of traffic and the host you have. If you have less than 100 000 posts you'll probably be fine :)

Do you have a multisite? if so, was the right site specified with the --url= parameter?
What do you get when you run the `wp plugin list --url=www.example.com` command? If co-authors isn't in that list,

[2020-05-11 20:45] jxxe commented on #508
@sboisvert Ok, I added the second option to my `functions.php` file and it's not working. Am I missing something?

[2020-05-11 20:50] sboisvert commented on #508
If the second option doesn't work I'd try again with the first one with the help of your host.

[2020-05-11 21:12] jxxe commented on #508
@sboisvert I haven't tested this, but is there any reason why I shouldn't do this, or why it wouldn't work? I have less than 1,500 posts.
[code]

[2020-05-13 21:37] Blindeman commented on #733
I'm having the same issue on a live site. I've had the co-authors plugin installed on this site for years and it always worked. I started having this issue a while back, at least 6 months. It's not consistently a problem and I haven't figured out when it is and when it isn't. Sometimes it works as expected. Sometimes, it works as in the video above. Sometimes I can still change or add an author wh

[2020-05-18 19:51] Intrinsic29 opened #735 "Can't re-order authors"
Good afternoon,

I am unable to re-order authors. I can drag the authors to the order I want them in, but then when I update it, they remain in alphabetical order. This has worked in the past so I'm guessing a WP update is messing it up.

Thanks!

[2020-05-20 02:51] jxxe commented on #551
This would be so useful! Any word?

[2020-05-22 04:26] AJB99 commented on #129
What is the hook for adding coauthors to RSS feeds?

I've tried the following, but it doesn't work:
https://wordpress.org/support/topic/coauthor-in-rss-feed-fix/

[2020-05-22 04:28] AJB99 opened #736 "How to display co-authors within RSS feed <dc:creator> tags?"
Currently all the <dc:creator> tags in my RSS feed are the WP User that originally created the post, and not the co-author assigned as the author for display.

How do I get the co-author to display within the <dc:creator> tags of my RSS feed?

I've already attempted the following, but it doesn't work:
[code]

[2020-05-29 14:04] Blindeman commented on #733
The problem is now constant. There is no way for me to change the author or to add an author. I remembered something where at first it seemed to be related to a caching plugin. I'd have to empty the cache and if I did everything in the right order, that would allow me to make changes on one post. Now that doesn't work anymore. As I said, turning off all plugins, emptying cache etc doesn't help but

[2020-05-29 14:28] Blindeman commented on #733
My work around, that works consistently, is doing it in IE11 or in the Samsung browser on my phone. I cannot get it to work in any Chrome-based browser or in Firefox. Although, as I said, on the staging site and on the local site it works as expected (the author actually gets assigned when clicked) in all Chrome-based browsers and Firefox. I'm lost.

[2020-05-29 15:13] scofennell commented on #733
Other workarounds:  Keyboard navigation probably works.

I also hacked a wordpress core file to extend the time before an input blurs:

https://core.trac.wordpress.org/browser/trunk/src/wp-includes/js/jquery/suggest.js?rev=36287#L37

That line is definitely a factor but ultimate I don't know if it's helping my client since he no longer responds to me as he's sick of this issue.

[2020-05-29 17:07] Blindeman commented on #733
Oh! Thank you! Yes, that definitely works and I love keyboard navigation so that makes life easier. Interesting about input blurs...

[2020-06-01 20:55] rebeccahum commented on #736
@AJB99 This should work as expected, it just may be that your feed is cached and you will need to publish a new post to see those changes.

[2020-06-01 20:56] #734 closed

[2020-06-01 21:05] rebeccahum commented on #735
@Intrinsic29 Can you please provide some steps to reproduce this, along with the current version of WP and Co-Authors-Plus.

[2020-06-01 21:07] #711 closed

[2020-06-01 21:11] rebeccahum commented on #732
@MadtownLems Ah! So, guest authors wouldn't be available on a network-basis.

[2020-06-01 21:14] MadtownLems commented on #732
So, to confirm, in MultiSite - there is actually no way to re-assign posts to a Guest Author when deleting a regular User? (like you can to a typical WordPress user)

[2020-06-01 21:15] rebeccahum commented on #722
I'm thinking that you may have to run a backfill on authors created before CAP was installed to create their respective terms: https://github.com/Automattic/Co-Authors-Plus/blob/221e4df88d65b1ba2eb4467d16e4ba74d82f37c9/php/class-wp-cli.php#L53

`wp co-authors-plus create-terms-for-posts`

[2020-06-01 21:33] rebeccahum commented on #709
Instead of using the global author data (which doesn't include guest authors), you may need to grab the coauthor data via `get_coauthors()`: https://github.com/Automattic/Co-Authors-Plus/blob/a944ef5961272ef9ad5b8c8310de7e2bcfca58c2/template-tags.php#L3

[2020-06-01 22:49] rebeccahum commented on #732
@MadtownLems Are you deleting the user from the network admin? Or in the subsite itself?

[2020-06-01 22:49] #722 closed

[2020-06-01 22:49] #709 closed

[2020-06-01 22:50] MadtownLems commented on #732
On Multisite, you can't delete a user from the subsite - you can only remove. And removing doesn't actually prompt for content reassignment like deleting on the Network Admin does. :/

[2020-06-01 23:02] rebeccahum commented on #732
Right, so the re-assignment does not work on multisite on deletion. You could give the CLI command a shot `wp swap-coauthors`: https://github.com/Automattic/Co-Authors-Plus/blob/221e4df88d65b1ba2eb4467d16e4ba74d82f37c9/php/class-wp-cli.php#L418

[2020-06-02 00:59] Intrinsic29 commented on #735
Hi,

Current version of WP is 5.4.1 and Co-Authors-Plus is 3.4.3.

I have two authors, each with a first and last name. When I try to drag them so the main author is first then click update, it still shows them in alphabetical order.

Thanks!

[2020-06-03 19:43] WPprodigy commented on #622
Another example in #108663-zd for more study when addressing this.

[2020-06-04 19:27] douglas-johnson commented on #354
What's up with this issue? I'm getting this warning because of a query made super early by Woocommerce Memberships.

The patch laid out in this issue fixes it for me.

This issue is closed, but pull request #383 that addresses it was never merged.

[2020-06-08 15:15] emrikol opened #737 "Conditionally allow for debugging"
It would be nice if we could conditionally allow the custom post type and custom taxonomy to be visible in the admin for debugging needs.  It could be hidden under a custom capability (something like `cap_can_debug`?).  This could make it a lot easier to sort out issues whenever there's incorrect or missing author data.

[2020-06-09 04:17] melmo commented on #551
Also looking for this update

[2020-06-13 21:12] jxxe commented on #508
I finally got access to SSH and installed WP-CLI, but I'm getting this error. WP-CLI is installed in a folder in the home directory called `wp`, WordPress is in the `public_html` directory.

The error:
[code]

[2020-06-14 00:07] jxxe opened #738 "Bylines are correct but articles don't show on author page"
I had hundreds of articles published with a single author before Co-Authors Plus was installed, and now that it's been installed for a while, I've noticed something. If you look at the search results for an author ([link](https://berkeleyhighjacket.com/?s=Naomi+Birenbaum)) it shows all of their posts. This is because I use a plugin that allows the search to index custom fields. If you look at the

[2020-06-30 17:58] MadtownLems opened #739 "Can't assign posts to Guest Author during Import"
When doing a standard import using the WordPress Importer plugin (https://wordpress.org/plugins/wordpress-importer/), you choose an Author to assign posts to. Unfortunately, Guest Authors don't appear to be selectable here.

Am I missing anything, or is this not possible?

Is there a suggested workaround, or might this be a useful feature that could be added? Thanks!

[2020-07-09 17:40] jonathanstegall opened #740 "get_guest_author_post_count never returns zero"
Recently I've noticed that when I have a guest author that has no posts, they still show up as having at least one. This happens both in the admin table and also on the front end when I use `get_guest_author_post_count`. But then when I click the Posts column, it goes to an admin page with no results.

Example:

<img width="177" alt="image" src="https://user-images.githubusercontent.com/435342/870

[2020-07-10 14:11] MadtownLems opened #741 "Guest Author links provided by Core Sitemaps (WordPress 5.5) result in 404"
I'm testing WordPress 5.5-beta-1.

Guest Authors are included as a Site Map:  domain.com/wp-sitemap-posts-guest-author-1.xml

That sitemap loads, but it uses URLs of the following structure:

domain.com/?post_type=guest-author&p=(ID)

These links 404. Guest Authors have URLs that look like:

domain.com/author/(guest-author)

[2020-07-23 16:38] ckoerner commented on #739
Hey @MadtownLems I had a similar problem issue. I too would have loved this feature. I don't know if this works for your situation, but I was able to use the WP-CLI and a few co-authors-plus commands to import all guest users as users.

If you can get a list of your guest-authors (by hand, by SQL, etc) you can put them in a CSV file and import them as "real" WordPress users:

wp user import-csv  f

[2020-07-23 16:40] ckoerner commented on #705
This is a usability issue for folks new to CAP, but not WordPress. Their experience tells them that authorship is managed in the sidebar. You have to know (or instruct folks) to school below your content to manage authors.

[2020-08-10 12:33] rebeccahum commented on #738
Is the guest author linked to a user account? For the posts that are missing from the author page, which is the term from the author taxonomy assigned to it?

[2020-08-10 15:44] jxxe commented on #738
There are no guest authors. They are all user accounts.

[2020-08-19 12:50] MadtownLems commented on #741
Well this is what I get for trying to be ahead of the curve and prepared. This doesn't seem to be a problem in the actual 5.5 release. Closingl.

[2020-08-19 12:50] #741 closed

[2020-08-27 12:04] mekanics commented on #710
I think we're having the same issue.

Google Search Console has detected a covarage issue. Every Co-Author page have the meta tag `robots` set to `noindex, follow` instead of `index, follow`. (This is set by Yoast)
After investigating I found out that the schema and the `og:url` have some wrong data as well (also set by Yoast).

And now here I am...

@lubieowoce do you have your fix still in produ

[2020-08-30 12:22] lubieowoce commented on #710
@mekanics my fix required some modifications after updating to Yoast 14 bc they changed a whole bunch of stuff, but yeah, it's still running :) i'll post the new version here soon.

 the code just does a bunch of `add_action/add_filter`, so you can add it wherever, even copypaste it into your functions.php or put it in a file and `include` it

[2020-09-08 13:38] hitolonen opened #743 "Double prefix with 'cap-cap'"
## The issue:

Authors with slug `cap-cap-` don't appear in the Ajax search `ajax_suggest` and their post counts are zero.

## Steps to replicate:

### Method 1

Create new Author from WP Dashboard with Display Name set to `Cap America`.

Their unique slug is `cap-america`, but their `wp_terms` slug is `cap-cap-america`.

### Method 2

Import users with `create-guest-authors-from-csv` or `create-g

[2020-09-16 09:11] mekanics commented on #710
@lubieowoce thank you very much!
So I guess, we will have to try your solution as soon has we find time.

No, they don't have one either – lucky us 😉

[2020-09-18 20:49] RubenatorX commented on #551
Bump

[2020-09-21 18:23] ckeeney opened #745 "Adding Gutenberg input to the guest author post type"
I'd like to add Gutenberg editor on the Guest Author post type.  I added the following hook, without success.  I believe this code does not work because the 'editor' support is explicitly removed after `register_post_type` is called, and my hook runs during execution of that function.

Is there a reason editor (and title) support is explicitly removed after the post type is registered?

https://gi

[2020-09-25 01:58] TheCrowned commented on #740
I don't see this happening. I simply created a new guest author, and I see 0 posts for him. Any further steps to reproduce?

![Screenshot from 2020-09-25 03-57-00](https://user-images.githubusercontent.com/7880569/94217845-4c56a700-fee3-11ea-90be-a84d696af886.png)

[2020-09-25 02:12] TheCrowned commented on #745
I guess the reason might be trying to mimic as closely as possible the regular `Users` behaviour, which don't have `title` nor `editor`. Why would you want to add title and editor, though? That said, the post type is already _not_ specifying `title, editor` in the `supports` field of the post type, so it is already taking them away this way. I guess if one puts them explicitly back, it should be a

[2020-09-25 02:31] TheCrowned commented on #551
@psaikali are you still working on this? Otherwise I can take over and hopefully fix it for good :)

After all, it looks like the `bulk_edit_posts` action won't be a thing. But it also [looks like](https://core.trac.wordpress.org/ticket/28112#comment:18) the `wp_insert_post_data` hook is enough for our purpose. It does contain all the details we need to then call `add_coauthors` on each post ID wi

[2020-09-25 02:41] TheCrowned commented on #735
I can say on WP 5.5.1 and latest master CAP I don't see the issue. I am able to reorder authors and, upon save, they stay where they should. I have tried both with and without Gutenberg (i.e. with Classic editor plugin). Maybe there is something else at stake? Can you try with `master`, instead of the public release from WP.org? Have you tried with all other plugins off?

[2020-09-25 02:53] TheCrowned commented on #705
I agree. Especially with Gutenberg, the Coauthors box is the only below the content window, all defaults boxes are on the side. And with the classical editor it's good for it to be on the side anyway, since the default _Authors_ box is on the side in the first place.
I will take this and submit a PR.

[2020-09-25 03:03] TheCrowned commented on #704
Is this still an issue? I just tried with your steps and couldn't reproduce it.

[2020-09-25 04:04] ckeeney commented on #745
I don't care much about adding a title, I only mentioned it because I saw it is also explicitly removed after the hooks run.

Right now Guest Author has a bio field that is just plain text.  At a minimum, my bios require italics and bold formatting.  I could add a WP 4 legacy editor input as a custom field, but I would prefer to have the gutenberg editor for bios.  My authors are already familiar

[2020-09-25 15:57] jonathanstegall commented on #740
I'm not sure, really. The term object itself comes through with the `count` value.

[code]

Do I need to do more investigating into what query WP core is running and what parameters it's passing, maybe?

[2020-09-27 18:51] TheCrowned commented on #740
Is that guest author linked to a proper WP user? Can you reproduce the issue with a new guest author?

[2020-09-28 13:50] jonathanstegall commented on #740
It does still happen with a new guest author. It doesn't seem to matter if they are linked to a proper WP user or not. It shows the same both ways.

[2020-09-28 14:47] jonathanstegall commented on #740
I'm running 5.5.1 of WP Core, and yes I'm running the latest commit from `master`. I did a fresh clone just now and there are no differences.

[2020-10-02 09:36] TheCrowned commented on #705
(Notice that even when/if the PR will be merged, current metabox location won't change if you already have CAP installed and you dragged it even slightly, as WP will have recorded the current location as your custom decision.)

[2020-10-02 15:55] garretthyder commented on #705
Nice @TheCrowned that's awesome, patch looks good to me and works so hope it makes it in. As to existing users as long as it's mentioned in the changelog hopefully those who care can clear their settings or update to use 'side'.

[2020-10-03 07:59] TheCrowned commented on #740
I guess we'll have to wait for somebody else's input - I seem just unable to reproduce the issue! :(

[2020-10-21 18:27] theresaweb commented on #578
I am encountering this as well. To reproduce:
* create a coauthor user
* create a WP user with same username
* try to edit coauthor and receive error. "Guest authors cannot be created with the same user_login value as a user. Try creating a profile from the user on the Manage Users listing instead."

@benlk did you implement the coauthors_show_create_profile_user_link filter? I have added but see

[2020-10-21 21:36] benlk commented on #578
@theresaweb Yes, I made a small plugin for it at the time, but I have not tested that tiny plugin against [the latest version 3.4.3 of CAP released on April 20, 2020](https://github.com/Automattic/Co-Authors-Plus/releases/tag/3.4.3). You can find my fix plugin in the comment at https://github.com/Automattic/Co-Authors-Plus/pull/248#issuecomment-613060764

It's been a while since I looked, but I be

[2020-10-22 13:20] theresaweb commented on #578
@benlk Thanks for responding. I guess the issue is not the need to create a user from the WP Users interface but that the creation of a WP User does not check if a Coauthor with the same slug is already created.

The more I think it through, @psaikali had the right suggestion for a fix (in 2018!)
```One solution would be to intercept all new WP_User creations and check if a Guest Author already ex

[2020-10-26 20:28] bengreeley commented on #578
FYI this bug occurred on a site I'm working on as well.

[2020-10-28 19:12] theresaweb commented on #578
```Guest authors cannot be created with the same user_login value as a user. Try creating a profile from the user on the Manage Users listing instead.```

One thing I'd like to understand is the validity/purpose of and logic behind this message. Clearly if the wp user is created first, then this message and die statement block you from creating a co-author with the same slug. But why? Is the real

[2020-10-28 21:14] theresaweb commented on #578
I've created a fix for this, you can view the change here https://github.com/theresaweb/Co-Authors-Plus/pull/1/files. I'll be creating a plugin to apply in the meantime.

[2020-10-29 06:11] richa2010 commented on #644
https://wordpress-344534-1445342.cloudwaysapps.com/my-dashboard/austcybers/?action=edit&job_id=5345&account=no

Can't access this  page when i login with co author users

[2020-11-30 00:17] theresaweb commented on #578
@benlk , @psaikali ,
I'm trying to formulate a PR but not sure the procedure? Can either of you point me to how to do it?

[2020-11-30 00:40] benlk commented on #578
@theresaweb On the page https://github.com/Automattic/Co-Authors-Plus/pulls there should be a green "New pull request" button. From there, click the "compare across forks" link/button, then choose your fork and branch from the drop-downs.

For example, here's a comparison between the `master` branch of `Automattic/Co-Authors-Plus` and your `fix_578` branch: https://github.com/Automattic/Co-Authors

[2020-11-30 16:55] theresaweb commented on #578
Thanks @benlk !

https://github.com/Automattic/Co-Authors-Plus/pull/748

Also, created a little plugin if anyone can't wait https://github.com/theresaweb/Co-Authors-Plus-Helper

[2021-01-27 20:21] ckoerner opened #750 "Jetpack subscription email shows posts authored by default author, not guest author"
When using the Jetpack subscription feature readers of a WordPress site can receive newly published posts by email. It's all formatted to look snazzy in their inbox. On our site we're using the Co-authors Plus plugin to allow for guest authorship and for multiple authorship on a single post.

If a post is published and the author is a guest author, the authorship appears to default to the person w

[2021-01-27 21:50] ckoerner commented on #750
Forgot to attached a screenshot of the email to show the issue.

![Screen Shot 2021-01-27 at 10 00 04 AM](https://user-images.githubusercontent.com/232862/106058744-494d0c80-60b7-11eb-8463-b086b9131499.png)

[2021-02-23 15:29] Peterr-K opened #753 "Co-Author Plus spamming Simple History plugin, is this a but or a feature?"
Hi

I have installed this plugin https://en.wordpress.org/plugins/simple-history/

When I'm just searching for a co-author (not adding one) there is spam of messages in this history plugin, is this actually ok? can this be fixed? is there anything to fix?

thanks

![image](https://user-images.githubusercontent.com/56595831/108866232-4aa92080-75f4-11eb-9b24-ae8f9c9b7385.png)

[2021-02-23 15:50] rebeccahum commented on #753
@Peterr-K It would be best to bring this up with the Simple History plugin author since this issue is occurring there.

[2021-02-23 15:51] rebeccahum commented on #753
@Peterr-K Hey there! It would be best to bring this up with the Simple History plugin author since the issue is occurring there.

[2021-02-23 15:51] #753 closed

[2021-02-24 11:41] Peterr-K commented on #753
ok they created this https://github.com/bonny/WordPress-Simple-History/issues/238

[2021-03-09 00:03] lukaszange opened #754 "rest_forbidden as an second author"
When I try to edit a post with an assigned second author, I get the error message "rest_forbidden":

`code: "rest_forbidden"
data: Object { status: 403 }
​message: "Sorry, you are not allowed to do that."`

I have already isolated the plugin (deactivated all other plugins one after the other and also for themes), but just can't find a problem. Anyone an idea?

[2021-03-09 15:15] rebeccahum commented on #754
@lukaszange Is this reproducible on a local environment? If so, can you please provide the steps? Thanks!

[2021-03-09 15:37] lukaszange commented on #754
Here's a video of the steps if that clarifies the problem

https://user-images.githubusercontent.com/42523323/110496290-9fb95c00-80f5-11eb-86f5-3a18fa518e72.mov

[2021-03-09 16:39] rebeccahum commented on #754
You could try running `wp co-authors-plus create-terms-for-posts` and see if that fixes the post terms if you suspect that is the issue. Since you are unable to reproduce on an empty WP install, could it be theme related?

Best way forward is some reproducible steps on an empty WP install.

[2021-03-10 17:47] lukaszange commented on #754
And that exactly doesn't work for me on multiple instances.
For me, the mistake is with both the author and the contributor - and that's with a draft, not a published post. Couldn't you reproduce that?

[2021-03-10 17:53] lukaszange commented on #754
Here is an example on a completely new installation.

https://user-images.githubusercontent.com/42523323/110674117-dc5a8580-81d1-11eb-8478-e3f24547a3f1.mov

[2021-03-10 18:00] rebeccahum commented on #754
Hi @lukaszange, I've been unable to reproduce on several tries on a single site installation using twentytwentyone on WordPress 5.7. Can you please provide us with further details on your environment (custom theme? single site or multi-site?)?

[2021-03-10 18:18] lukaszange commented on #754
- WP: 5.7
- Single-Site
- several Themes (Custom; Twenty Nineteen 2.0; Twenty Twenty-One 1.2; Twenty Twenty 1.7)
- PHP: 7.4.14 & 7.4.15
- Apache & nginx
- MySQL: 5.7.29 & 5.7.30-log

[2021-03-10 18:25] lukaszange commented on #754
can also create an instance for you on my server and send you the relevant access data by email, if you want @rebeccahum?

[2021-03-10 18:26] rebeccahum commented on #754
Thanks, @lukaszange. That won't be necessary — it would be best to be able to reliably reproduce it on a clean WP install locally without requiring any server access.

[2021-03-10 18:59] lukaszange commented on #754
Here is a completely new installation on a new system (local environment) with PHP 8.0 - I don't quite understand why you can't replicate the whole thing?

https://user-images.githubusercontent.com/42523323/110682157-ecc32e00-81da-11eb-86bb-15af0c6c4221.mp4

[2021-03-10 22:58] rebeccahum commented on #754
Looping you in @nielslange to see if you can reproduce it.

[2021-03-11 08:32] MarieComet opened #755 "WP_Query author parameter not working in Elementor"
Hi, I'm using Elementor Pro Posts widget to display custom post types.

I filter the query using the [Custom query filter](https://developers.elementor.com/custom-query-filter/) provided by Elementor, it's similar to `pre_get_posts` filter.

In my filter, I add author parameter to the query, to display posts for one author.
It's working fine for the first author added with Co Authors Plus, but not

[2021-03-11 19:59] claudiulodro commented on #370
On a similar note but in 2021, a pipe character in the author name causes a broken profile image when adding a guest author:

<img width="633" alt="Screen Shot 2021-03-11 at 11 54 25 AM" src="https://user-images.githubusercontent.com/7317227/110846395-939ddd80-8260-11eb-9f75-a1ff3cfe02a5.png">

This is because exploding e.g. `1234 | user-slug | Adam Heckler | One Cool Dude |  | adam-heckler | exam

[2021-03-11 20:03] paulschreiber commented on #370
+100 to using JSON here.

[2021-03-11 23:45] rebeccahum commented on #755
This sounds like it's worth bringing up to the Elementor team if it works fine outside of it.

[2021-03-12 11:09] MarieComet commented on #755
Hi,

you're right, I don't know what I was thinking.
I'm closing this issue.

[2021-03-12 11:09] #755 closed

[2021-03-12 12:21] nielslange commented on #754
While the problem is clearly related to permission settings within the REST API, I'm still investigating if it can be addressed within the plugin or if solving this problem requires an adjustment within core. That said, these are my findings so far.

## Admin

<table>
	<tr>
		<th></th>
		<th>Block editor</th>
		<th>Classic editor</th>
	</tr>
	<tr>
		<td>Admin can edit drafted post</td>
		<td align

[2021-03-15 10:35] Peterr-K opened #756 "Edit author slug support for Co author plus"
Hi,

can anyone check if I was correct in the description here?

https://github.com/thebrandonallen/edit-author-slug/issues/30

thanks

[2021-03-15 15:14] rebeccahum commented on #756
@Peterr-K This might be a better feature for CAP itself since the user may not have both CAP and that plugin installed.

[2021-03-20 03:20] Peterr-K commented on #756
well then can CAP start using directly the user’s nicenames, so when plugin like Edit author slug will change the nicename, CAP will work correctly?

[2021-03-21 10:03] htdat commented on #754
## My debugging steps

I started with @nielslange's excellent finding:

Line 1106 decides the value of $permission:

[code]

I then turned into looking at the `$handler['permission_callback']` for this REST API request `GET /wp/v2/posts/:id`.
This route is registered in [class WP_REST_Posts_Controller](https://github.com/WordPress/WordPress/blob/52679edbffe1a28cf7fce54ab2077f299c8cf27e/wp-includes

[2021-03-22 16:03] rebeccahum commented on #756
That wouldn't be viable seeing as with the way CAP has been built, it's reliant on term taxonomy queries (to allow for guest authors) rather than the user directly.

[2021-03-26 02:25] nielslange opened #758 "Gravatar of gues author not visible"
**Steps to reproduce**

1. Go to `/wp-admin/post-new.php?post_type=guest-author`
2. Add a new guest author
3. Go to `/wp-admin/users.php?page=view-guest-authors`
4. Ensure that Gravatar for guest author is visible
5. Go to `/wp-admin/post-new.php`
6. Add new guest author
7. See that Gravatar is not visible

**Current behaviour**

When adding a guest author, the gravatar is not visible in the edito

[2021-03-26 03:04] nielslange opened #759 "Filter coauthors_guest_author_fields leads to duplicate fields"
Reported in https://wordpress.org/support/topic/how-to-utilize-the-coauthors_guest_author_fields-filter/

**Steps to reproduce**

1. Add the following code to your site:
[code]
2. Go to `/wp-admin/post-new.php?post_type=guest-author`
3. See that the field `Phone number` appears in all sections

**Current behaviour**

The field `Phone number` appears in all sections, `Name`, `Contact Info` and `Abo

[2021-03-26 03:40] nielslange commented on #740
I could reproduce this problem with a plain WP 5.7 installation using the latest CAP version from this repo. Strange enough, even with no posts available, the two users that I created `editor` and `author` show a post count of 1. When deactivating the CAP plugin, the post count then shows 0 as expected.

![post-count](https://user-images.githubusercontent.com/3323310/112573711-6edc6500-8e1f-11eb-8

[2021-03-26 04:21] nielslange commented on #759
This problem was caused due to the missing `$groups` parameter in the functions call. The correct function looks like this and adds the phone number to the contact info section as expected:

[code]

[2021-03-26 04:21] #759 closed

[2021-03-26 04:48] nielslange commented on #740
After running `wp co-authors-plus update-author-terms`, the problem disappeared and the correct count showed up. When creating a brand new site, I could no longer reproduce this problem.

@jonathanstegall Are you able to run `wp co-authors-plus update-author-terms` on your end to see if that corrects the post count?

[2021-03-26 16:48] #754 closed

[2021-03-27 12:50] iasgharalikhan opened #761 "Some Contributors and Guest Author names are not loading"
Hi,
We have some guest authors who are not reflecting in the plugin block.

Can you please look into this.

[2021-03-28 02:37] nielslange commented on #754
@lukaszange The problem, that you reported, had been fixed and a new version of the plug-in had been released. Once you update the plugin on your end, it should work as expected.

[2021-03-28 10:17] lukaszange commented on #754
Thanks @htdat, @nielslange & @rebeccahum for the perfect job here! :)

[2021-03-28 10:53] lukaszange commented on #761
I also have this error on my productive version, but not yet on the local one to reproduce... The error has been occurring since the update to version #760 (Version 3.4.4).

**More detailed description**
1. Install CAP Version 3.4.4
2. Edit a existing post or create a new one
3. Try to add a co author to this specific post
4. The AJAX suggest box returns the error "Sorry, no matching authors found

[2021-03-28 13:35] nielslange opened #762 "Release 3.4.4 broke adding and changing authors"
As reported in https://wordpress.org/support/topic/adding-or-changing-author-no-longer-working/, the latest release of the plugin broke the functionality to add or change an author. I haven't verified this problem yet, but we received several confirmations about this problem.

[2021-03-28 15:53] rebeccahum commented on #761
@lukaszange Does rolling back to 3.4.2 fix the issue?

[2021-03-28 15:54] rebeccahum commented on #762
Closing as duplicate, as we have #761 where it has been reported.

[2021-03-28 15:54] #762 closed

[2021-03-28 15:55] iasgharalikhan commented on #761
Roll back fixed it for me

[2021-03-28 15:58] rebeccahum commented on #761
I'm not able to reproduce on a fresh install, whether the real user has been created before CAP was installed or after. Any details on reproducing locally would be great.

[2021-03-28 16:05] iasgharalikhan commented on #761
So, we have been using CAP for almost 6 months and all the versions in that time period.

The problem is not specific to older or newer profiles, cause some of the newer users are displaying in the updated version.

But only a few of users are left out.

I can share screenshots if you need some details

[2021-03-28 16:06] rebeccahum commented on #761
@iasgharalikhan If it's a few of them being left out, are you able to provide the usernames as examples?

[2021-03-28 16:20] iasgharalikhan commented on #761
M A Siraj
PTI
IANS
ANI

Are some user names we had which were not displaying, since we rolled back to the previous version. I don't think I have any more details on this.

[2021-03-28 16:22] lethalmiko commented on #761
I installed plugin months after users were created and already existing. Plugin has worked fine for over 4 years until last week Friday 26th March 2021 when it stopped. I searched for 4 different existing users but no results. Rolling back to 3.4.3 solved the problem. One user on the thread I started on wordpress.org wrote this:
-------
giuliovale (@giuliovale)
20 hours, 57 minutes ago
Problem cam

[2021-03-28 16:55] jeffersonrabb commented on #761
The issue has something to do with users with spaces in the username.

Steps to repro:

- Spin up a new WordPress site.
- Install Co-Authors Plus 3.4.4 and WP Rollback.
- Create two WordPress users (not Guest Authors). Username "Test Author" for one and "Test_Writer" for the other.
- Edit a Post, in Authors UI search for "Test". "Test_Writer" is returned but not "Test Author"
- Roll CAP back to 3.

[2021-03-28 17:31] rebeccahum commented on #761
Thanks, reverting in #763.

[2021-03-28 17:31] #761 closed

[2021-03-28 19:02] #743 closed

[2021-03-29 07:00] nielslange commented on #735
Closing this issue as it does no longer seem to appear and the reported hasn't replied yet.

[2021-03-29 07:00] #735 closed

[2021-03-29 12:47] nielslange commented on #745
Hello @ckeeney, I'm afraid adding Gutenberg to the guest authors pages to manage their bio will not work. Gutenberg behaves different from the classic editor. Adding Gutenberg, would show the editor on top and all other fields such as display name, first name, last name, email, etc. below the editor. This would lead to a confusing flow.

In theory, it would be possible to implement the current the

[2021-03-29 12:52] nielslange commented on #740
@jonathanstegall Do you still face the same problem with the latest version of the plugin?

[2021-03-29 12:55] nielslange commented on #736
Closing due to inactivity.

[2021-03-29 12:55] #736 closed

[2021-03-29 13:54] nielslange commented on #704
Closing due to inactivity.

[2021-03-29 13:54] #704 closed

[2021-03-29 14:25] rebeccahum commented on #745
It is explicitly removed because we want the guest authors to behave more like WP_Users (which do not seem to have Gutenberg in the "Biographical Info".

[2021-03-29 14:38] rebeccahum commented on #758
@nielslange Can I get some more detailed steps on reproducing please? This is what I did so far:

1) Create new guest author "Cap Ri"
2) Go to "Edit guest author" for guest author 'Cap Ri' and click "Set avatar".
3) Upload avatar and save.
4) Go to new post to assign guest author 'Cap Ri' and assign guest author in AJAX box.

I'm seeing a visible guest author avatar on my end:

<img width="283" al

[2021-03-29 15:08] nielslange opened #769 "Refactor format based on PHPCS"
At the moment, the code of the plugin is not correctly formatted. Therefore, it's not possible to run `phpcs` respectively `phpbf` to correct the formatting automatically, as this would lead to hundreds of changes. Therefore, I suggest refactoring the format of the plugin, so that the code can be formatted automatically in the future.

@rebeccahum & @htdat: Can I have your thoughts on this suggest

[2021-03-29 16:42] rebeccahum commented on #769
@nielslange Are you able to elaborate on how you envision the refactoring?

[2021-03-30 01:30] htdat commented on #769
In case, we decide to reformat the plugin code, instead of a single PR with hundred of change files, we can split them to different PRs.

Yeah, I would like to know how we can achieve this "automatically" and specific steps to refactor.

[2021-03-30 01:35] nielslange commented on #769
I'd run the following command against the repo, to correct all formats:

[code]

This will only set the indents and spacings straight, but will not apply any code changes. At the moment, the formatting is all over the place and the auto formatting option cannot be used as this would change the entire plugin files and not just the updated section.

The following logs shows all warnings and errors t

[2021-03-30 01:40] nielslange commented on #769
What would be the benefit of creating separate PRs for each file instead of one PR for all files, if the PR only aims to correct the formating?

I just checked the plugin using [cloc](github.com/AlDanial/cloc) and it has 18 PHP files:

[code]

This would mean that we need top create 18 PRs, which when not merged simultaniously will be rather useless as we cannot use the auto-formatting option unti

[2021-03-30 06:55] nielslange opened #770 "Add .editorconfig to ensure consistent coding styles"
At the moment, the plugin does not have a `.editorconfig` file. This leads to an inconsistent coding style. I suggest adding that file, to ensure consistent coding styles.

This is a short list of plugins (> 1 mio. active installs), that utilize the `.editorconfig` file:

- https://github.com/Automattic/jetpack/blob/master/.editorconfig
- https://github.com/woocommerce/woocommerce/blob/trunk/.edit

[2021-03-30 10:59] htdat commented on #769
I am not entirely sure we can 100% be confident regarding PHPCBF. Hence, I think we may still need to review changes manually but quickly.

Also, it's not necessary to have 18 PRs. It might start with the most PHP simple files first then move on. Maybe a few files at one time.

[2021-03-30 12:39] nielslange commented on #769
@htdat I just quickly span up a drafted PR to show in how far the files will be affected by running `phpcbf` against the repo. You can find the drafted PR on https://github.com/Automattic/Co-Authors-Plus/pull/771.

The reason why I would run that command against the entire repo is to ensure the correct formatting for all files at once. In addition, creating multiple PRs and running the command aga

[2021-03-30 17:22] rebeccahum commented on #769
Agreed with @nielslange. If it's just spacing and formatting changes, I think we can do the entire plugin (rather than several atomic commits) in a PR but test extensively to ensure that nothing has been functionally broken from it. This would make reverting easier (if needed be) rather than reverting many PRs.

[2021-03-31 09:14] nielslange commented on #627
@benlk Thanks for pointing this out.

@kodemonster PRs are always welcome. Would you still be interested in spinning up a PR for this issue?

[2021-03-31 09:32] nielslange commented on #644
@blauertee, @bcd123, @jtomeck @richa2010 This problem sounds like https://github.com/Automattic/Co-Authors-Plus/issues/754, which had been fixed in https://github.com/Automattic/Co-Authors-Plus/pull/757 and released with version 3.4.4.

I'll close this issue for now, but feel free to reopen it, in case you're still facing problems with this case.

[2021-03-31 11:18] #644 closed

[2021-03-31 12:12] nielslange commented on #525
Closing this based on https://github.com/Automattic/Co-Authors-Plus/pull/527#event-2507133178.

[2021-03-31 12:12] #525 closed

[2021-03-31 14:52] rebeccahum commented on #525
@nielslange Is this issue still reproducible?

[2021-03-31 16:06] #715 closed

[2021-04-01 01:27] nielslange commented on #525
Nope, it's not. Empty authors can no longer be added.

[2021-04-01 02:32] nielslange commented on #458
When running the unit tests using WP 5.3 and WP 5.7 with PHP 7.4, I see the following warnings and errors:

[code]

[2021-04-01 14:05] #769 closed

[2021-04-01 14:09] #770 closed

[2021-04-02 02:18] nielslange commented on #745
Closing this issue based on https://github.com/Automattic/Co-Authors-Plus/issues/745#issuecomment-809422163.

[2021-04-02 02:18] #745 closed

[2021-04-02 02:24] nielslange commented on #738
@jxxe: Do you see the same problem when deactivating all other plugins and using a default WordPress stheme, such as the Twenty Twenty-one theme? I'm asking as I'm unable to reproduce this problem on my end when using a default theme and the Co-Authors-Plus plugin only.

[2021-04-02 02:51] jxxe commented on #738
I'll try to test it soon and get back to you. I've since solved the problem by completely ignoring it.

[2021-04-02 03:00] nielslange commented on #460
**Detailed steps to reproduce:**

1. Create an editor account
2. Create two posts using the editor account
3. Create a guest author account
4. Create one post using the guest author account
5. Link the guest author account to the editor account

**Expected behaviour**

- Editor post count: 3 → ✅
- Guest author post count: 3 → ✅

**Current behaviour**

- Editor post count: 3 → ✅
- Guest author post

[2021-04-02 03:06] nielslange commented on #738
Thanks for your quick feedback and I'm looking forward to receiving your test results. 😀

[2021-04-02 03:17] nielslange commented on #372
@aheckler Can you still reproduce this problem on your end? I'm unable to see this problem on my end.

[2021-04-02 08:54] aheckler commented on #372
No.

[2021-04-02 10:34] nielslange commented on #372
Good to hear, @aheckler. I'll close this issue then. 😀

[2021-04-02 10:34] #372 closed

[2021-04-05 03:20] nielslange commented on #733
I'm unable to reproduce this problem using WordPress 5.7, Co-Authors Plus 3.4.5, macOS 11.2.1 and the following browsers:

- Brave 1.22.71
- Chrome 89.0.4389.114
- Firefox 87.0
- Opera 75.0.3969.149
- Safari 14.0.3

In my case, it also works consistently both with keyboard and mouse.

Maybe someone who's able to reproduce this problem consistently can post the specifications for a test case here.

[2021-04-05 08:56] nielslange commented on #269
Closing this issue as it can no longer be reproduced when adding the following snippet to the site:

[code]

[2021-04-05 08:56] #269 closed

[2021-04-05 09:02] nielslange commented on #172
Closing this issue as the "featured image" of the guest author appears on the post editor in the meantime.

<table>
<tr>
<td>Guest author screen
<br><br>

![#172-guest-author-screen](https://user-images.githubusercontent.com/3323310/113557410-2b0c0b80-9628-11eb-83b6-efdeb4b001ef.png)
</td>
<td>Post editor
<br><br>

![#172-editor](https://user-images.githubusercontent.com/3323310/113557405-28a9b180

[2021-04-05 09:02] #172 closed

[2021-04-05 12:34] Blindeman commented on #733
For the last several months I've had no issues using keyboard navigation. I'm wondering now if the edit in my last comment was just me doing something wrong (using tab instead of enter or vice versa, etc). Mouse still doesn't work on the live site and still works on the staging site with the same plugins and the same theme, and I haven't been able to reproduce it on any other site either.
I'm usin

[2021-04-05 13:16] scofennell commented on #733
Hi niels, this issue is still repro-able in any modern browser I have tried.  The key is to keep the mouse button pressed down for a bit longer than you ordinarily might (some people happen to just be slow-clickers).  This is why in my comment above from May 29, extending that time limit before the input blurs, resolves the issue for most users.  Really it's an issue with that js file.  Makes no s

[2021-04-06 01:47] nielslange commented on #733
Thanks for your replies, @Blindeman and @scofennell. As this problem seems to appear on Windows, someone with access to a Windows machine will have to work on this issue. As I'm using Mac, I'm afraid, I'm unable to address this problem as it does not appear on my end.

[2021-04-06 02:15] scofennell commented on #733
Hi Niels, this problem is repro-able for a wide variety of mac users, myself included.  Did you try clicking slowly on the ajax author result?  As in, keeping the mouse button down for a second or two?  That's really the issue.

[2021-04-06 07:18] nielslange commented on #733
I do see the problem now, @scofennell. It indeed appears when clicking and holding the mouse for at least 2s.

[2021-04-06 12:52] scofennell commented on #733
Thanks very much for taking another look.  To be clear though, I am seeing a failure much faster than 2s.  I am seeing a failure after whatever time value is provided here (default core is 200ms):

https://core.trac.wordpress.org/browser/trunk/src/wp-includes/js/jquery/suggest.js?rev=36287#L37

Which makes this whole thing much harder to approach, since that's a very old core include.

[2021-04-06 14:47] htdat commented on #460
I am not sure if this makes sense but here what I could find out so far.

Start at these lines in getting post counts for co-authors:

https://github.com/Automattic/Co-Authors-Plus/blob/c9ebbd1e02741743e109e8c3f45cc38d62d25e4d/php/class-coauthors-wp-list-table.php#L271-L284

As I understand, the `if` logic here means if this is a linked account, it will make the sum of two parts:

*   number of po

[2021-04-07 01:15] nielslange commented on #460
Thanks for the additional notes, @htdat. I'll be working on test cases today, so that we can see if a potential fix works as expected for all cases.

[2021-04-08 03:53] #370 closed

[2021-04-12 03:04] nielslange commented on #577
Closing this issue as the corresponding rule set had been updated accordingly in https://github.com/Automattic/Co-Authors-Plus/pull/751.

[2021-04-12 03:04] #577 closed

[2021-04-12 03:11] nielslange commented on #384
Closing this issue as the corresponding rule set had been updated accordingly in #751.

[2021-04-12 03:11] #384 closed

[2021-04-12 03:24] nielslange opened #777 "Switch from Travis CI to GitHub Actions"
~At the moment, this repo is using Travis CI, which runs rather slow. This issue aims to switch from Travis CI to Circle CI.~
~Example config file: https://github.com/Automattic/vip-go-mu-plugins/blob/master/.circleci/config.yml~

Update:

At the moment, this repo is using Travis CI, which runs rather slow. This issue aims to switch from Travis CI to GitHub Actions.

Scope:

- [ ] Run plugin again

[2021-04-12 12:29] nielslange commented on #215
Hello @paulschreiber, I assume that you missed @trepmal's last message, as you haven't replied yet.

If I understand your case correctly, you have a regular user (User A) and a guest author (User B). The guest author account is linked to the user account, and you want to be able to show User A as the author of the post instead of User B. Can you confirm that this is what you have in mind?

[2021-04-12 14:48] rebeccahum commented on #777
Instead of CircleCI, I think GitHub actions would be the way to go.

[2021-04-12 15:08] paulschreiber commented on #215
Some posts don't have a byline — like a live blog, or interactive. We wouldn't want to list all 12 people who contributed as authors, as that would be unwiedly.

[2021-04-13 01:05] nielslange commented on #777
Sounds good. That way, we can also automatically 10up's [WordPress.org Plugin Deploy](https://github.com/10up/action-wordpress-plugin-deploy) action.

[2021-04-13 01:16] nielslange commented on #215
If I understand you correctly, @paulschreiber, in this case you would have a post, multiple user would write on the same post, but the post itself is not assigned to a single author. Is that correct?

[2021-04-13 01:26] paulschreiber commented on #215
The post would not have any CoAuthors.

[2021-04-15 04:47] nielslange opened #779 "Incorrect post count when linked accounts are authors of the same post prior to linking"
**Steps to reproduce**

1. Create an editor account (editor-n-1)
2. Create one post (#n-1)
3. Create a guest account (guest-n-1)
4. Add guest author to post #n-1
5. Check post count for editor and guest
6. Link guest account (guest-n-1) with editor account (editor-n-1)
7. Check post count for editor and guest

**Expected behaviour**

✅ Editor: 1 post
✅ Guest: 1 post

**Current behaviour**

❌ Edito

[2021-04-15 07:35] nielslange opened #780 "Incorrect user post count when guest account is not linked"
**Steps to reproduce**

Create a guest account (guest-n)
Check post count for admin and guest
Create one post (#n) as guest and remove admin as co-author
Check post count for admin and guest
Expected count:

**Expected behaviour**

✅ Admin: 0 posts
✅ Guest: 1 post

**Current behaviour**

❌ Admin: 1 post
✅ Guest: 1 post

Related issue

#776

[2021-04-16 21:00] mikeyarce commented on #779
For this issue, what I would suggest is looking at how you can alter the query here:
https://github.com/Automattic/Co-Authors-Plus/blob/master/co-authors-plus.php#L591

The query that's output:

[code]

[2021-04-17 00:12] jonathanstegall commented on #740
Sorry, I missed that there were tags for me in this issue. I'll do some testing as soon as possible, and make sure I'm using the updated version/check to see if I still see the issue.

[2021-04-17 00:31] jonathanstegall commented on #740
@nielslange I do still have this issue on the most recent version of the plugin. I cloned the `master` branch, and the existing authors where I've seen this issue are still having it. I also created a new author, with no posts, and that author still reports that they have one post.

[2021-04-19 01:39] nielslange commented on #779
Thanks for pointing out that section, @mikeyarce.

[2021-04-19 02:12] nielslange commented on #740
@jonathanstegall Do you mean, you checked out the latest version of the plugin and then created a new author account. Once you created that author account, it automatically shows a post count of 1? If that's not the case, can you please let me know how to reproduce the problem that you are facing?

[2021-04-19 02:47] jonathanstegall commented on #740
@nielslange yes, that's right. I checked out the latest version and created a new author account, which immediately shows a post count of 1 even though it does not have any posts.

[2021-04-19 15:29] tmmbecker opened #781 "Fix author page when Guest Author slug overlaps with WP Admin user"
When a Guest Author has the same slug as a WP Admin user, the author page displays the bio and the image for the Guest Author. CAP should fully defer to the WP Admin user page.

[2021-04-19 15:31] tmmbecker opened #782 "Merge Guest Author with same-slug WP Admin User"
If a Guest Author has the same slug as a WP Admin user account, it's not possible to merge or to update the Guest Author profile. CAP should allow merging with WP Admin users that have the same slug.

Deleting the Guest Author only allows for reassigning to another Guest Author. As part of this fix, let's also allow for reassigning to WP Admin users.

[2021-04-20 12:17] rebeccahum commented on #782
Closing as duplicate of #578.

[2021-04-20 12:17] #782 closed

[2021-04-20 12:18] rebeccahum commented on #781
Related to issue #578 - once that is fixed, it would be good to know if linking the guest author to the WP_User resolves the issue.

[2021-04-20 15:03] tmmbecker opened #783 "Gravatar image URL in author page previews"
When previewing an author page for a Guest Author, the preview displays as a placeholder because it appears to be using the `og:image` tag, which pulls the Gravatar URL by default. Here's an example of what the preview looks like when the author URL is shared in Slack:

![Screen Shot 2021-04-20 at 11 01 05](https://user-images.githubusercontent.com/22805865/115418799-c4f6bb00-a1c7-11eb-9182-ac0d0d

[2021-04-20 17:01] #693 closed

[2021-04-21 06:13] nielslange commented on #783
Hello @tmmbecker, thanks for reporting this. I looked up this case on a fresh installation using WordPress 5.7.1 and Co-Authors Plus 3.4.5, but I do not see an `og:image` tag on the site. I tested this with various default themes.

Can you tell me what theme you are using and if you're using a plugin that is adding the `og:image` tag, such as [Yoast SEO](https://wordpress.org/plugins/wordpress-seo

[2021-04-21 15:33] #458 closed

[2021-04-27 22:04] tmmbecker commented on #783
@nielslange this is a Newspack site so the themes are all Newspack-specific. We use Yoast for tags on most sites.

[2021-04-28 09:44] errotu opened #785 "REST API shows only first author"
First of all, thank your for this great plugin!

I've just noticed that on our page the REST API only gives out the first author, a second or third one is not mentioned. As I am understanding #448, actually all authors should be displayed via REST. Might this be a bug introduced by a newer version?

[2021-04-28 18:18] rebeccahum commented on #785
@errotu When you use an older version of CAP, do you see all authors being displayed via REST?

[2021-04-28 19:21] errotu commented on #785
I just tried it it 3.4.0, it's still only the first author which is shown by the API.

[2021-04-28 19:22] rebeccahum commented on #785
@errotu Cool, do you mind trying in an older version? Thanks!

[2021-04-28 19:30] errotu commented on #785
I just tried it with v3.3.1 (the oldest which is compatible with Wordpress v5, if I understood the changelog correctly), unfortunately still the same.

[2021-04-28 19:33] errotu commented on #785
Fyi, we are using [Advanced Custom Fields](https://wordpress.org/plugins/advanced-custom-fields/) and [ACF to REST API](https://wordpress.org/plugins/acf-to-rest-api/). Do you think, these plugins might be in conflict with CAP?

[2021-04-28 19:35] rebeccahum commented on #785
@errotu Cool, thanks for confirming.

I expected that to be the case because CAP doesn't actually use real authors — instead, it uses `author` terms assigned to posts, so the REST API will return the original author as the `post_author` value.

[2021-04-28 19:37] errotu commented on #785
Thanks for the explanation! So did I misunderstand #448? Do you think, this can be fixed?

[2021-04-29 06:35] errotu commented on #785
Thanks for the advice. It worked [with this code-snippet](https://www.jurecuhalev.com/blog/2016/12/25/co-authors-plus-wordpress-json-rest-api/) (I added it to my theme's function.php). However, I think it would be a great feature if CAP would support the REST API out of the box.

[2021-04-29 06:42] errotu commented on #680
Might be related to #785? Since CAP is not giving out the co-authors (who are not the first author) to the REST API, you can't retrieve the posts of a co-author via REST, I'd guess.

[2021-04-30 19:34] claudiulodro commented on #710
Looks like [Yoast is adding a filter for modifying the schema author data in v16.3](https://github.com/Yoast/wordpress-seo/pull/16831), which should make this change much simpler. This feature marches closer to completion!

[2021-05-03 16:08] #460 closed

[2021-05-04 20:55] #777 closed

[2021-05-05 06:58] nielslange commented on #783
Thanks for sharing the example, @tmmbecker.

**Steps to reproduce**

1. Go to https://prismreports.org/author/ashton-lattimore/ and copy URL
2. Go to https://www.opengraph.xyz/, paste URL and click "Check website"
3. The author image is not visible
4. Go to https://nielslange.blog/about/ and copy URL
5. Go to https://www.opengraph.xyz/, paste URL and click "Check website"
6. The author image is vi

[2021-05-05 08:52] nielslange opened #786 "Update .gitignore"
At the moment, the `.gitignore` does not include the file `composer.lock` and the folder `vendor`. Running `PHPCS` and `PHPUnit` locally, will create this file and folder. As a result, they're popping up in the Git status, when preparing a commit.

I propose adding `composer.lock` and `vendor` to `.gitignore`, to keep the Git status lean.

[2021-05-05 14:53] #786 closed

[2021-05-05 14:54] rebeccahum commented on #783
@nielslange Have you been able to reproduce this on a local install?

[2021-05-06 14:32] nielslange commented on #783
I haven't, as I could not imagine that it's possible to test this bug locally as Slack cannot access my local site and therefore no author image will be visible.

That said, I just tried reproducing this bug locally, and as expected, the URL of my local environment cannot be resolved by Slack.

[2021-05-06 14:36] rebeccahum commented on #783
Sorry, just to clarify what I meant by locally I meant on an isolated public test blog where the author image is not visible.

[2021-05-06 14:57] nielslange opened #788 "User gravatar not visible"
**Steps to reproduce**

1. Install and activate the CAP plugin.
2. Create a new user with an email address that has a Gravatar, e.g. info@automattic.com.
3. Look up the Gravatar on `/wp-admin/users.php` → no Gravatar is visible
4. Deactivate the CAP plugin
5. Look up the Gravatar on `/wp-admin/users.php` → the Gravatar is visible

**Expected result**

The Gravatar is visible when the CAP plugin is

[2021-05-07 14:14] nielslange commented on #783
@rebeccahum I tested this problem isolated, but also noticed that the author image does not appear independent if the CAP plugin is active or not.

@tmmbecker This problem is not related to this plugin as the author image also does not appear when the plugin is deactivated and/or not installed. I looked up your example site https://prismreports.org/author/ashton-lattimore/ again and see that there

[2021-05-07 18:56] danjaworsky commented on #615
Hi,
I'm getting the same error and it's being called with the Woocommerce Memberships plugin.

[2021-05-10 16:01] rebeccahum commented on #615
@nielslange Might be worth adding some defensive coding in CAP to prevent this notice from being thrown. Can you look into this please?

[2021-05-10 16:04] rebeccahum commented on #615
Also, this notice usually occurs when `get_posts()` or WP_Query is called too early (which seem to be stemming from other plugins). I was able to reproduce with WC Memberships, stacktrace:

[code]

[2021-05-10 19:42] MadtownLems opened #789 "Feature Request: Rich Text / WYSIWYG for Biographical Info"
I think that the Biographical Info field would be significantly improved if it offered even some basic rich text options, such as links or lists. Surely this field is designed for people to display on About the Author style pages or widgets, and some basic formatting tools would go a long way.

Thanks for considering!

[2021-05-17 08:01] nielslange commented on #615
@rebeccahum I'll look into this issue the next days.

[2021-05-18 13:57] nielslange commented on #615
@rebeccahum I looked up this issue and could reproduce it using [WooCommerce Memberships](https://woocommerce.com/products/woocommerce-memberships/). AFAICS, the problem is triggered by https://github.com/Automattic/Co-Authors-Plus/blob/b728b0850c17e5c3f0fce37a6345af20e0939af7/co-authors-plus.php#L113. Removing this call, does not affect the unit tests, but the [`posts_selection`](https://develope

[2021-05-18 14:26] nielslange commented on #788
Closing this issue as I can no longer reproduce it.

[2021-05-18 14:26] #788 closed

[2021-05-19 14:46] rebeccahum commented on #615
@nielslange We don't want to remove that action since that would directly affect functionality on CAP.

Why do you think the error is being triggered?

[2021-05-19 15:35] rebeccahum commented on #615
@nielslange Since the CAP action is being triggered too early, what is being expected from it that is not there when it gets triggered by another plugin?

[2021-05-20 08:40] nielslange commented on #615
AFAICS, posts are expected by the time the WooCommerce Memberships triggers the CAP action. The corresponding section can be found in https://github.com/woocommerce/woocommerce-memberships/blob/4fa2efd45c5fe19803ce10b344c4c040cea5f1cf/includes/class-wc-memberships-user-memberships.php#L322.

I was thinking about checking if WP_Query exists and/or if posts exist. So far, I wasn't able to come up wi

[2021-05-20 14:38] scofennell commented on #614
This is a really a bad issue now that [https://github.com/Automattic/Co-Authors-Plus/pull/630] no longer works, because users are attempting to use the post_author selector, and it's obviously not working.

[2021-05-20 14:43] scofennell opened #791 "CSS hack for hiding Gutenberg post_author no longer works."
CAP uses this CSS:

`/** Block Editor Hack for 5.0: Hide the core author input **/
.block-editor label[for^="post-author-selector-"],
.block-editor select[id^="post-author-selector-"] {
	display: none;
}
`

In order to hide the core post_author selector in Gutenberg.  See https://github.com/Automattic/Co-Authors-Plus/pull/630 .

However, at some point this CSS stopped working, because the markup f

[2021-05-20 17:10] rebeccahum commented on #791
@nielslange Looks like this was introduced in 5.6 — can you look at getting this updated?

[2021-05-20 17:44] rebeccahum commented on #615
@nielslange That's a good thought direction! In the error message, it says:

What does that tell you about what is being expected?

[2021-05-21 19:26] tmmbecker commented on #783
Thanks for the deep dive here @nielslange and I apologize for the delay in following up. We actually [pushed a patch](https://github.com/Automattic/newspack-plugin/pull/947) to fix this for Newspack sites. But the bug is related to the [CAP's integration with Yoast's new Schema API](https://github.com/Automattic/Co-Authors-Plus/issues/710).

[2021-05-26 21:05] #791 closed

[2021-05-28 13:27] nielslange commented on #615
@rebeccahum Based on that message, I'd say that there's no query, which would be required. I do have to admit that I don't know how to solve this problem, though.

[2021-05-28 13:42] nielslange commented on #783
Thanks for clarifying this, @tmmbecker. As the bug is related to https://github.com/Automattic/Co-Authors-Plus/issues/710, I'd keep this issue closed and address this problem in the already created issue.

[2021-05-28 13:42] #783 closed

[2021-05-29 18:45] unitof opened #796 "coauthors_posts_links() echoing escaped HTML"
When I upgraded Co-Authors-Plus from 3.4.5 to 3.4.6, our bylines started displaying as escaped HTML in the frontend:
<img width="1373" alt="anchor written out as escaped HTML in frontend" src="https://user-images.githubusercontent.com/2448782/120081453-c7ccb180-c08b-11eb-918b-258898fc6fbc.png">

Our theme simply calls `coauthors_posts_links()` without arguments, since it echos by default:

[code]

[2021-05-29 19:13] unitof commented on #796
@gcordner found the culprit line, in c66edc0f02278237d91c496bddab2207ab1c2a8f: https://github.com/Automattic/Co-Authors-Plus/commit/c66edc0f02278237d91c496bddab2207ab1c2a8f#diff-55c608ae2de213972c18288ae5590e36855cd86999d8040d26e7e292de7f0f5eR205

Is this new behavior by design? If so, this is a major change and would change the [default implementation](https://docs.wpvip.com/technical-references/

[2021-05-29 19:51] unitof commented on #796
Confirmed this is also happening on a [fresh WP install](https://archive.is/DXAP9).

<img width="1373" alt="image" src="https://user-images.githubusercontent.com/2448782/120083285-a96bb380-c095-11eb-90ed-e897bc43d9e8.png">

I only changed the following lines in `themes/twentytwenty/inc/template-tags.php`:

[code]

[2021-05-31 14:29] #796 closed

[2021-05-31 18:21] rebeccahum commented on #615
@nielslange So if there is no query, what type of defensive coding would you want to employ?

[2021-06-01 09:16] nielslange commented on #615
@rebeccahum As mentioned in https://github.com/Automattic/Co-Authors-Plus/issues/615#issuecomment-844867325, I was thinking about bailing out if the query does not exist. That said, no matter what I tried, I wasn't able to come up with a working solution.

[2021-06-01 20:55] claudiulodro opened #799 "Author autocomplete silently fails on posts with no author"
In the latest release, [there is a check for `empty( $_REQUEST['existing_authors'] )` in the ajax author autocomplete](https://github.com/Automattic/Co-Authors-Plus/blob/614dc28d47c8c3e86bd093a69c3e47d3eb1216f6/co-authors-plus.php#L1200), and it silently exits if there are no authors. This change was introduced in [this PR](https://github.com/Automattic/Co-Authors-Plus/commit/c51143e9d332d3818e464

[2021-06-01 20:57] rebeccahum commented on #799
@nielslange Can you please take a look at this?

[2021-06-02 08:44] nielslange commented on #799
I'm on it, @rebeccahum.

[2021-06-02 10:24] nielslange commented on #799
@claudiulodro Can you tell me how to reproduce this case? When removing the author from a post on my end, I then see the admin account as fallback author listed.

I wonder how a post of page can lose its author without modifying the database. Reverting the change that caused this  issue, is no problem. That said, I'd love to understand how this can become an issue as I assumed that it's not possib

[2021-06-03 09:07] bonakor opened #800 "When using with WPML, some authors don't show up in results depending on language"
Hello,

I'm using CoauthorPlus in conjunction with WPML.

Depending on the language, some authors won't show up in results, yet they're queryable via the classic Author box in Gutenberg.
For instance, author A will show up in results when the post is in English, but he won't show up when the post is in French.

Is there something I can do, please?

I'm using WPML latest version, same for WP and Co

[2021-06-03 17:10] claudiulodro commented on #799
Apologies @nielslange, my test instructions weren't quite accurate! :)

1. Assign a guest author to a post.
2. Delete the guest author and select "leave unnasigned"

<img width="974" alt="Screen Shot 2021-06-03 at 10 07 30 AM" src="https://user-images.githubusercontent.com/7317227/120684584-b7358600-c453-11eb-8cb9-74a5f6c87ea2.png">

Then you should encounter the issue.

[2021-06-07 10:46] lkraav commented on #615
Another WCM user here with this notice generating massive log spam: 65 k notices in 3 days.

Although cause is already mostly identified in above comments, an additional quality stack trace probably doesn't hurt https://sentry.io/share/issue/06b09e81cd774197913c8965cd811ad4/

If you're using any conditionals like `is_author()`, any relevant functionality they guard should avoid any business before

[2021-06-07 12:02] nielslange commented on #615
Thanks for your suggestion, @lkraav. I already went a different route last week and just pushed the changes. Nevertheless, your suggestion is much appreciated.

[2021-06-10 12:43] nielslange commented on #799
Thanks for the further testing instructions, @claudiulodro. When trying to reproduce this case on my end, the admin account automatically gets assigned as soon as I delete the guest account. I assume that's because I created the test post using the admin account initially. As the guest author account is a CPT, I'm unable to log into that account directly to create that test post using the guest au

[2021-06-10 15:33] rebeccahum commented on #799
@nielslange Thanks for looking into this. Since it is a change from a PR that should not affect functionality, can you make a PR to revert the change while this is being investigated?

[2021-06-10 21:09] pabamato opened #802 "Author autocomplete not working for new posts"
Autocomplete ajax request is not returning any data for new posts or posts without a previously co-author set.
I believe this is related to the following changes added on 3.4.7:
- https://github.com/Automattic/Co-Authors-Plus/blob/master/co-authors-plus.php#L1200
- https://github.com/Automattic/Co-Authors-Plus/commit/c51143e9d332d3818e4641c5dd6de79fd314a308

**Working example:**
Steps to reproduce

[2021-06-11 08:12] bonakor commented on #800
If needed, I can give you access to a staging version a the website

[2021-06-11 17:10] rebeccahum commented on #800
If you can provide steps on reproducing on a local install, that would be splendid!

[2021-06-11 17:37] rebeccahum commented on #802
This seems to be a duplicate of #799. @nielslange can you look into this?

[2021-06-14 07:46] nielslange commented on #799
Sure. No problem, @rebeccahum. I was simply trying to understand how this case can be reproduced, as I'm unable to reproduce it so far. That said, a fix is on the way.

[2021-06-14 10:39] nielslange commented on #802
This issue sounds identical to #799, @rebeccahum.

@pabamato Thanks for reporting this problem. I'll close this ticket for now, so that we can proceed in #799. I also created the PR #803 to resolve this problem. Feel free to test if that PR solves the problem on your end.

[2021-06-14 12:48] bonakor commented on #800
Hi.

No problem, I can. But I think I'd need to transmit the database (I can, but in private)

I have French and english configured on the website.

Whatever the theme, the bug still occurs.

Lets say, I want Simon to be author of a post in English. No problem, I can make him an author in the Co-author field. I type his name and he's there.

But if I want Simon to be author of a post in French, wh

[2021-06-14 19:23] rebeccahum commented on #800
@bonakor On a clean install, it would be great if you could provide some steps to follow with specific examples to use (in this case, author name) for reproducing, thank you!

[2021-06-14 19:55] #799 closed

[2021-06-14 21:34] bonakor commented on #800
Okay, I'll try to reproduce it on a clean install tomorrow

[2021-06-15 08:59] #802 closed

[2021-06-15 17:13] bonakor commented on #800
Okay, I found the issue. It's because in WPML, "translating the author taxonomy" was allowed. If I deactivate this, it's working again.

[2021-06-16 00:34] rebeccahum commented on #800
Cool, sounds like a conflict from WPML. I'll close this out since it's not CAP-specific.

[2021-06-16 00:34] #800 closed

[2021-06-21 15:46] anteksiler commented on #710
Any update on this one?

[2021-06-22 17:38] rebeccahum commented on #710
@anteksiler Feel free to open a PR!

[2021-06-28 06:12] anthonythorne commented on #354
Ive got the same issue on an Admin page, saving an ACF group.

[2021-07-05 15:45] #615 closed

[2021-07-07 15:30] nielslange opened #807 "Replace deprecated GitHub-hosted runner"
At the moment, our [GitHub Workflow](https://github.com/Automattic/Co-Authors-Plus/blob/master/.github/workflows/integrate.yml) is using `ubuntu-16.04`, [which is deprecated](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#github-hosted-runners):

<img width="751" alt="Screenshot 2021-07-07 at 17 26 41" src="https://user-images.githubusercontent.com/3323310/12478704

[2021-07-08 14:33] MadtownLems opened #809 "AutoComplete Box shows URL of Avatar instead of actual Avatar"
When entering a co-author, you get autocomplete results to choose from that have their ID, slug, name ... and then it gives the URL path to their avatar (either a local image file for a Guest Author, or a gravatar.com address for other users).

I'm assuming the intent here is to actually DISPLAY the image, as the chance of showing the URL of an image file being helpful is incredibly low.

![2021-0

[2021-07-08 19:24] #807 closed

[2021-07-08 22:14] anthonythorne opened #810 "Filter Ajax Suggested Authors"
Due to the requirements of a project, I am working on, the authors need to be filtered. Both checking the logged-in user's meta and role, and then the coauthors. This would be easily achieved with a filter within the coauthors plugin.

I'll attach the PR when done.

[2021-07-08 23:16] anthonythorne commented on #810
My current workaround is to deregister your admin-ajax method for ajax_suggest and run a copied version with the updated code. However, this doesn't work if your plugin updates the return format which it did recently.

[2021-07-08 23:51] anthonythorne opened #811 "Ajax Suggested Authors return format"
I have a project that I am on where the return format has sensitive information such as user's email and user login. Due to privacy issues, my client wishes the return format to custom.

e.g

User ID | Full Name | Chapter | Author slug

where Chapter is user meta being a term id that would be converted to a term name.

Unfortunately, I have not worked on a possible solution other than returning em

[2021-07-09 16:23] rebeccahum commented on #809
Thanks for flagging this!

Looking at older versions of CAP, the intent is to not have an avatar URL come up in the results. But I agree, the URL should not be shown.

[2021-07-13 15:05] cbratschi commented on #785
I have a similar issue: posts?author=353 only returns posts from the first author and no co-authors.

I checked the CAP source code but it's quite complicated without a documentation. I guess I have to convert the author ID to a taxonomy and use that one in the query. Ideally the post endpoint can be extended to support this.

[2021-07-13 15:07] rebeccahum commented on #809
This was introduced in #621. After looking into this a bit further, we'd need to find a different way to have the data flow into JS (which may require refactoring).

[2021-07-13 15:12] rebeccahum commented on #811
The issue with obscuring/customizing this information is that JS relies on it to perform the needed actions on select: https://github.com/Automattic/Co-Authors-Plus/blob/44fd892dc1e06b976dd48de6ba6d0687c7bdcb7b/js/co-authors-plus.js#L196.

Similar to my comment at https://github.com/Automattic/Co-Authors-Plus/issues/809#issuecomment-879169596.

[2021-07-13 15:56] rebeccahum commented on #810
Feel free to open a PR with the new filter.

[2021-07-14 00:55] anthonythorne commented on #810
@rebeccahum do you have a document that I may have missed in regards to procedures, branch names, etc for opening a PR?

I created the branch update/#810 and I receive the authentication error when trying to push. Obviously, I am missing a process.

Thanks

[2021-07-14 15:22] cbratschi commented on #785
Here is my solution which searches for co-authors in queries and adds a coauthors field to the JSON post response:

[code]

[2021-07-16 18:11] rebeccahum commented on #810
@anthonythorne Are you using a forked version of CAP for pushing the update?

[2021-07-21 21:00] #705 closed

[2021-07-27 17:55] rpelletierrefocus opened #813 "Add a link to byline avatar/logo"
I have been asked to provide the ability to conditionally add a link to byline avatars or logos.

Are there any filters, any mechanism, anything that will make this possible?

The person whom asked is the newspapers President, so I would appreciate any help that could be provided. :-)

[2021-08-03 01:10] anthonythorne commented on #810
Thanks for the hint.

Can you see and or access
https://github.com/anthonythorne/Co-Authors-Plus/tree/update/%23810

[2021-08-03 14:37] rebeccahum commented on #810
@anthonythorne What authentication error are you receiving?

Yes - I see that forked version.

[2021-08-03 16:34] rebeccahum commented on #813
Have you had a chance to explore the template tags available? Might be worth looking at `coauthors_get_avatar()` and seeing if there are any filters already inside `get_avatar()`:

https://github.com/Automattic/Co-Authors-Plus/blob/7be23a1c2470308be26b889394b5dc65460c42d8/template-tags.php#L745

[2021-08-11 20:15] #578 closed

[2021-08-12 06:40] gregarios opened #815 "Version 3.4.9 Breaks Author Post Lists"
I'm running MySQL 10.5.12-MariaDB with the latest Wordpress 5.8 on CentOS 7.9

Only since version 3.4.9 I'm getting this error when the theme tries to display authors' posts on a page. The page no longer shows the list.

`mod_fcgid: stderr: WordPress database error You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use nea

[2021-08-12 13:38] douglas-johnson commented on #815
I think I'm seeing the same thing. Here's my output from Query Monitor this morning after updating to 3.4.9

<img width="1243" alt="Screen Shot 2021-08-12 at 9 22 11 AM" src="https://user-images.githubusercontent.com/226381/129206628-384be994-2b88-47be-8903-fc3d04e667f3.png">
<img width="1250" alt="Screen Shot 2021-08-12 at 9 14 10 AM" src="https://user-images.githubusercontent.com/226381/12920663

[2021-08-12 14:37] rebeccahum commented on #815
Can you tell me if reverting [this PR](https://github.com/Automattic/Co-Authors-Plus/pull/686) fixes the issue at hand?

[2021-08-12 14:52] douglas-johnson commented on #815
@rebeccahum Yes, that worked for me.

Steps I took:
- Updated to 3.4.9
- Recreated issue in WP Admin
- Replaced line 746 in co-authors-plus.php with previous value
- Issue resolved

[2021-08-12 15:09] #815 closed

[2021-09-08 00:11] eecoston opened #819 "Allow bulk edit - change author"
Enable bulk change author when Co Authors plus is active (this would be helpful to transition sites to use co authors plus for users who have a lot of posts, instead of manually changing each one)

This is what the bulk edit box looks like when co-authors plus is active, no author box:
![image](https://user-images.githubusercontent.com/69772473/132425413-7a33d7a9-51ea-47ac-b098-8da6cb7c283b.png)

[2021-09-08 20:30] #687 closed

[2021-09-08 20:31] rebeccahum opened #820 "Contributor cannot see backend post listing for authors"
Reproduction steps:
1) Create some posts from admin account "admin"
2) Log out and now log in with a different user account that has the role "Contributor"
3) Go to http://one.wordpress.test/wp-admin/edit.php?post_type=post&all_posts=1 and you should see a whack of post listings
4) Click on "admin" in the post view: http://one.wordpress.test/wp-admin/edit.php?author_name=admin
5) You will see "No

[2021-09-09 16:19] rebeccahum commented on #819
Duplicate of #551

[2021-09-09 16:19] #819 closed

[2021-09-24 01:04] eecoston opened #821 "Pronouns in author info"
Add space for pronouns that displays at the end of the author's name in parentheses

[2021-09-24 16:02] rebeccahum commented on #821
Would this be in a field?

[2021-09-24 16:02] rebeccahum commented on #821
Would this be input from a field?

[2021-09-24 17:58] eecoston commented on #821
Ideally yeah. In the same section with Display Name, Fist Name, and Last Name

[2021-09-27 04:23] jaspindersingh91ie opened #822 "Preselect Guest Users when new post is created"
There is a filter 'coauthors_default_author' which allows to preselect 1 or multiple WordPress Users in the auto suggest box when a new post is created.
This filter does not allow Guest Authors to be preselected in the auto suggest box.

Is there a way to have WordPress users as well as Guest Authors to be preselected in the auto suggest box ?

[2021-10-01 01:04] lschuyler commented on #820
I can replicate this, but only if the contributor has 1 or more posts of their own, and the admin user doesn't have a linked guest author.

The trouble first seemed to be the `preg_replace` in line 743, as you suspected above. My first hunch was easiest fix would be to change the `$id` to the id of the `author_name` in the URL, but this change creates more trouble and causes 3 of the PHPUnit tests

[2021-10-01 22:21] rebeccahum commented on #822
@lschuyler Can you please look into this?

[2021-10-15 00:01] #820 closed

[2021-10-20 11:46] jaspindersingh91ie commented on #822
@lschuyler, any update on this ?

[2021-10-22 13:59] gamebits opened #825 "CSS hack for hiding Gutenberg post_author no longer works redux"
This is a recurrence of https://github.com/Automattic/Co-Authors-Plus/issues/791 that was addressed in https://github.com/Automattic/Co-Authors-Plus/pull/793. The "Author" dropdown is again being displayed, despite Co-Authors Plus being active and inserting its own "Authors" field.

![wp-author](https://user-images.githubusercontent.com/12199101/138466406-ea621d4f-8a07-4d5b-9183-9b19be8cfb13.jpg)

[2021-11-06 21:57] lschuyler commented on #822
Hi @jaspindersingh91ie,

Yes, you can use the 'coauthors_default_author' filter to specify a guest author to be the default pre-selected in the author box.

Here's how you can do it by specifying a guest author's id from the wp_posts table:

[code]

You can also use `user_nicename`, `user_login`, or `user_email` instead of the the `id` key ([these are defined here](https://github.com/Automattic/Co

[2021-11-09 01:50] gamebits opened #827 "Perform database check before loading legacy contact fields"
WordPress user profiles include fields for Jabber, AIM & Google Talk only for sites that pass [this check](https://github.com/WordPress/WordPress/blob/c610440f4682666ed4c6fb37faeba39306acb701/wp-includes/user.php#L2616):

[code]

Co-Authors Plus, meanwhile, defaults to [always loading all three fields](https://github.com/Automattic/Co-Authors-Plus/blob/6f0de279dc0604a90991c5a42ca6a7e4fe9c17ab/php/

[2022-04-09 18:02] tiberium84 commented on #551
Tell me please, is there any news on this issue?

[2022-04-13 21:32] RubenatorX commented on #551
You can check the PR: <https://github.com/Automattic/Co-Authors-Plus/pull/747>
A fix was submitted, but it causes issues so, someone has to fix the fix.

[2022-04-25 20:54] bransinanderson opened #842 "PHP Fatal error: Uncaught Error: Call to undefined function CoAuthors\API\use_block_editor_for_post() in /wp-content/plugins/co-authors-plus/php/class-coauthors-endpoint.php:292"
Wordpress version 5.9.2
Co-Author-Plus version 3.5

When editing a page entry, located in the sidebar under "Page Attributes". Modifying the value of the pages parent we are receiving Error 500 with xhr request:
/wp-json/wp/v2/pages?context=edit&per_page=100&exclude=12345&parent_exclude=12345&orderby=menu_order&order=asc&_fields=id%2Ctitle%2Cparent&_locale=user

Error log
`PHP Fatal error: Uncaugh

[2022-04-25 21:05] rebeccahum commented on #842
Thanks for reporting. We'll get this fixed out ASAP.

[2022-04-25 22:07] #842 closed

[2022-04-26 07:35] garubi opened #846 "Include the changelog in the readme.txt for the WP.org release"
Please include the changelog in the readme.txt file when pushing a new release to WP.org repository.
It's a common good practice, why don't you follow this?

[2022-04-26 16:27] rebeccahum commented on #846
Thanks for your suggestion! We originally had it there but it was getting too lengthy, which is why we moved it all to the CHANGELOG.md. However, going forward, we can put the changelog just for the latest release on the readme.txt if that sounds good to you? 🙂

[2022-04-27 09:18] garubi commented on #846
Tanks for the replay!
Yes, the changelog for the latest release would be adeguate: I think that the need is to know wha't changed before hitting that "update now" button :-D
Or, even simpler, a link to https://github.com/Automattic/Co-Authors-Plus/blob/master/CHANGELOG.md (so you don't have to update the readme.txt)
Anything will be better than no changelog ;-)

[2022-04-27 21:11] rebeccahum commented on #846
cc @lschuyler for the next release

[2022-05-05 21:49] lschuyler commented on #825
With the changes to the author combobox in the editor from #790, I don't think this will be needed anymore, and the CSS hack introduced in #791 can likely be removed too. I'll test!

[2022-05-06 21:08] lschuyler commented on #825
Confirmed. We aren't using the author box from core anymore, so this is no longer a relevant issue.

CSS hack removed in #847.

[2022-05-06 21:08] #825 closed

[2022-05-17 21:17] jonathanstegall opened #849 "Potential cache issue with ajax search on admin"
Lately I've had issues with the admin search for co authors on posts. Only a few (maybe ten out of 2,000+) authors are appearing in the autosuggest. When I search for authors with known names that we've used, even very frequently, they don't show up. At first I thought it might be related to Elasticsearch because I had just updated our index before I noticed it (we host on WordPress VIP) and it wa

[2022-05-25 17:45] lschuyler commented on #849
Hi @jonathanstegall,

Is this happening with the block editor? Or the classic editor? Or both?

[2022-05-25 18:57] jonathanstegall commented on #849
I haven't used the block editor very heavily, so it may only be the classic editor.

[2022-05-27 12:55] douglas-johnson opened #850 "Author emails shown in term description through WP REST API"
I am concerned that because author emails are included in the term description, that makes all author email addresses publicly available through the REST API.

In this screenshot you can see a user with no permissions making a request to `/wp-json/wp/v2/coauthors/` on a local environment running a fresh install of WordPress 5.9.3 with Co-Authors Plus 3.5.1 and no other plugins.

<img width="1020"

[2022-05-27 18:21] jhubsch commented on #29
Hi, all - I came across this issue as well. As @flagster76 mentioned above, there are issues on VIP-managed sites, and they are still persistent.

To reiterate the bug:

If a WP user is deleted and then a Guest Author is created with a name that results in the Guest Author having the same slug as the deleted WP user, that Guest Author cannot be selected in the Guest Authors drop-down.

Steps to Re

[2022-05-31 13:18] jonathanstegall commented on #849
Ultimately I've learned through VIP support that my issue is a duplicate of #622.

[2022-06-01 00:10] jonathanstegall commented on #849
After looking into the fix that's on #622, I might be experiencing something different as neither of the filters mentioned as solutions caused any change for me.

[2022-06-01 21:10] rebeccahum commented on #850
Please take a look @lschuyler when you get a chance. Looks like this was introduced in 3.5

[2022-06-01 22:31] rebeccahum commented on #850
Fixed in #851.

[2022-06-01 22:31] #850 closed

[2022-06-05 21:45] mxkyb commented on #785
there is an error here, it should be:

[code]

It did work because get_coauthors uses the global `postId` in case the given id is not valid. Your solution however printed an error into the pages html response.

[2022-06-06 12:45] jonathanstegall commented on #849
In case it's helpful, I've found a way that does allow me to get results for the author Ajax search:

[code]

I had tried using `ep_integrate = true` just to see if the extra flexibility would help, but this proved not to help. I had also tried using `number = 0`, thinking that if the large resultset loaded by Elasticsearch was the problem, maybe that would be the fix but it didn't help either.

S

[2022-06-07 15:08] cbratschi commented on #785
@mxkyb thanks, this code is wrong in the original code snippet from https://www.jurecuhalev.com/blog/2016/12/25/co-authors-plus-wordpress-json-rest-api/. We already fixed this in our code to only use the first parameter.

[2022-06-07 20:18] manudavidos opened #854 "Post featured image size is being used for avatars"
I have a theme that crops featured images. Because this plugin uses the featured image feature for avatars, all the guest avatars are also cropped according to my featured image sizing.

[2022-06-08 08:32] Fabmilan opened #855 "Author selection XHR is slow/not working"
Hey there!

I don't know why, but your plugin has stop working. I can't change author (the field is disabled) and the autocomplete input field (Select An Author) not working anymore.

I have been using your plugin for 1 year and everything was working fine until then. Did you change something ?

Thx.

[2022-06-08 08:32] Fabmilan commented on #855
![image](https://user-images.githubusercontent.com/8641854/172570708-2996b0d7-0871-4111-89d7-9b8ba4601b1f.png)

[2022-06-08 09:09] biophonc opened #856 "get_coauthors() and is_coauthor_for_post() with faulty condition"
Environment: PHP 8.0, WP 5.9+

Hi, my PHP log is _flooded_ with these entries for a while:

[08-Jun-2022 10:10:10] WARNING: [pool foo] child 32581 said into stderr: "NOTICE: PHP message: PHP Warning:  Attempt to read property "ID" on int in /var/www/foo/wp-content/plugins/co-authors-plus/template-tags.php on line 13"

+ same issue on line 94

Basically, it's this condition:
[code]
Both `$post_id`

[2022-06-08 14:44] rebeccahum commented on #855
@Fabmilan Do you have more details? What Co-Authors Plus version are you currently using? Was this after the latest update? What WordPress version are you running?

[2022-06-09 08:06] Fabmilan commented on #855
Hey thx for the reply.
I'm using the latest version of Co-Authors Plus  3.5.2  / Wordpress 6.0

In fact, the plugin is working, it is just the xhr who is very very slow and that gives me the authors, not co-authors :/

I don't know what happens here ^^

[2022-06-09 08:42] manudavidos commented on #854
`/**
 * Post Thumbnails.
 */
if ( function_exists( 'add_theme_support' ) ) {
    add_theme_support( 'post-thumbnails' );
    set_post_thumbnail_size( 400, 200, true ); // default Post Thumbnail dimensions (cropped)
    add_image_size( 'enjoyblog_featured_thumb', 880, 440, true );
    add_image_size( 'enjoyblog_post_thumb', 480, 270, true );
}`

Here is part of the code from functions.php that is c

[2022-06-13 20:40] lschuyler commented on #855
Hi @Fabmilan,

I've been unable to replicate this. Are there any corresponding errors showing in your browser's JavaScript console that could lend any clues as to why you are experiencing that author field as disabled? Thanks!

[2022-06-14 07:59] ferllings opened #857 "Incorrect link with Jetpack social"
Hello,

When the co-author plugin is enabled, the Jetpack Twitter social urls are incorrectly pointing to the incorrect post.
See https://www.ejiltalk.org/the-far-reaching-us-proposals-to-amend-the-international-health-regulations-at-the-upcoming-75th-world-health-assembly-a-call-for-attention/

When the co-author plugin is disabled, everything is back to normal.
I tested older versions of the plu

[2022-06-15 23:45] lschuyler commented on #856
Hi @biophonc,

If this is still happening on your site, could you try outputting the global post object before the `get_coauthors` function is called to check its value?

It sounds like the post object has been inadvertently set to an integer, maybe in your theme or by another plugin or with something you're testing? Or possibly, could be calling `get_coauthors` from outside the loop where the pos

[2022-06-17 08:31] biophonc commented on #856
Hi @lschuyler,

Unfortunately I'm currently using a patched version of co authors (using this repo as upstream) but I'll prepare a test to see whether it's most likely caused by a 3rd party plugin, my theme or the co authors plugin.

[2022-06-20 14:50] Fabmilan commented on #855
I'm not the only one with this issue see plugin reviews: https://fr.wordpress.org/plugins/co-authors-plus/#reviews

[2022-06-20 15:03] Antonio-Laguna commented on #855
I reckon this is due to this https://github.com/Automattic/Co-Authors-Plus/pull/851

[2022-06-21 16:10] biophonc commented on #856
Hi @lschuyler,

I finally have found the time to investigate the issue further, and you were right, it was caused by my theme that:

1. uses `global $post` in one template, without being encapsulated (haven't noticed it earlier)
2. included template parts then inherit the object/variable
3. and in one template was a `foreach` loop for a SearchWP result set, that simplified did this:
[code]

I've a

[2022-06-21 16:10] #856 closed

[2022-06-24 11:49] udaydahale commented on #822
@lschuyler,
Can we set multiple default authors ??

[2022-06-24 21:30] lschuyler commented on #857
Hi @ferllings,

From the 'View Source' on your page, I can see Jetpack's Sharing module is using the wrong value for `$post->ID` when it is preparing the markup of the sharing buttons. Here's the line in Jetpack's code where those buttons are generated - [here](https://github.com/Automattic/jetpack/blob/2447e267e40f2d133a5c15c2320b776e4c395ec8/projects/plugins/jetpack/modules/sharedaddy/sharing-so

[2022-06-25 17:02] ferllings commented on #857
That's very helpful.
I'm not the creator of the theme, but I now know what to look for.
Thanks.

[2022-06-25 17:10] ferllings commented on #857
I don't know exactly how it related to your plugin, but, with your help, I was able to find the problematic loop and fix it Thanks !!!

[2022-06-25 17:10] #857 closed

[2022-06-27 19:39] DustinHartzler commented on #854
Thanks for including this code.

Can you also share with us the code to display the guest avatars in your theme? This will help us understand what's going on.

[2022-07-05 22:49] lschuyler commented on #855
@Fabmilan - We are still working to replicate your experience so we can fix this. Could you tell us a bit more about your Co-Authors Plus setup?
- Do you have terms in place for all authors? (Have you run the `create-terms-for-posts` CLI?)
- Or are you relying on the `guest-author` custom post type?
- Are you using the `coauthors_plus_should_query_post_author` or `coauthors_count_published_post_ty

[2022-07-19 18:04] jonathanstegall opened #858 "Possible to start a new post with no selected author"
When creating a new post, the list of authors defaults to the current logged in user. I realize why it does this, since `wp_posts` requires a value for the `post_author`. I'm wondering if it would be possible to only set the value to the logged in user on the first post save, similarly to how a post is assigned to Uncategorized if it doesn't have any categories.

I'm asking because most of the peo

[2022-07-19 18:35] jonathanstegall commented on #858
As a test, I tried running this combination of filters, but I think [this criteria](https://github.com/Automattic/Co-Authors-Plus/blob/master/co-authors-plus.php#L404-L423) prevents it from running. It does cause a PHP error because default author is not an object, but it doesn't result in a blank meta field.

[code]

[2022-07-19 18:56] jonathanstegall commented on #858
One way that does appear to work is to change the `coauthors_meta_box` method after it runs the already existing default user filter. I'm not sure what implications this might have, but would be happy to submit a pull request if it would be helpful.

[code]

[2022-08-25 18:39] benlk commented on #682
I ran across a scenario today where https://github.com/Automattic/Co-Authors-Plus/pull/696 would have been very helpful if it were in the plugin. What's needed to get that PR across the finish line?

[2022-09-09 23:49] benlk opened #867 "Suggestion: change GitHub readme.md to use headings for FAQ items instead of bullets"
The current version of https://github.com/Automattic/Co-Authors-Plus/blob/master/README.md uses bullet points as "headings" for FAQ questions. On GitHub, this means that [the automated Table of Contents support](https://github.blog/changelog/2021-04-13-table-of-contents-support-in-markdown-files/) doesn't pick up on the FAQ items, making it hard/impossible to link directly to the FAQ items.

If RE

[2022-09-14 17:21] jomurgel opened #868 "`withState` being _hard_ deprecated in WP 6.2"
- `withState` is being deprecated in WP 6.2 ([PR](https://github.com/WordPress/gutenberg/pull/37854/files)) which is used by the Gutenberg feature(s).
  - Usage: https://github.com/Automattic/Co-Authors-Plus/blob/master/src/index.js#L129
- There may be some issues, though we're not actually seeing the HOC really being taken advantage of so it may not be a problem, but this should be refactored in

[2022-09-14 20:12] saadirfan opened #869 "The Author Page and WP Posts Shows 0 Entries with Plugin Enabled!"
I inherited a weird bug to troubleshoot. — We have an author with over 3k posts.

**With the co-authors plugin enabled:**

- The author page and WP Posts pages show the author has no entries
- The author field on their post is empty

**With the co-authors plugin disabled:**
- The author page and WP Posts pages show all 3k entries
- The author field on their posts shows their name just fine

**Here

[2022-09-14 20:17] saadirfan commented on #869
If it matters, the issue first appeared when a team member attempted to delete and reassign the author's content to a new profile because their business email address changed.

**Old Profile:**
Name: JOHN SMITH
Email: john@olddomain.com

**New Profile:**
Name: JOHN SMITH (same display name)
Email: john@newdomain.com

[2022-09-14 20:51] saadirfan commented on #869
<img width="273" alt="authors-meta" src="https://user-images.githubusercontent.com/1347439/190259733-7222bac5-8830-4556-96ce-61402404648f.png">

Further, the Authors meta box appears empty for these posts.

[2022-09-23 17:36] atnjqt opened #871 "Byline Authors Not Sorting Correctly (defaults to alphabetical order)"
## Overview

End users recently brought to our attention that new WP blog posts do not have correct sorting for Co Author Bylines, using both Block Editor & Classic Editor, and when editing and saving older posts (pre August 30th, 2022) the byline order is reverted to default alphabetical

### Environment:

WordPress Core **6.0.2**
PHP **8.0** running on 64bit Amazon Linux 2/3.4.1
Co Authors Plus

[2022-10-04 10:59] zigots007 opened #873 "Show authors outside loop"
how to call function coauthors__echo outside the loop?
I want to call this function with my own post ID instead of result of get_the_ID() function.

[2022-10-05 18:11] leogermani commented on #710
Hello everyone, I've got some news:

Recently Yoast added an integration with CoAuthors Plus in its core:

https://github.com/Yoast/wordpress-seo/pull/18161

From what I could see, it now supports multiple authors for a post, but it does not support guest authors yet.

I've started working on this and the help from everyone here with testing, validating and (even better) some code would be awesome

[2022-10-19 17:10] leogermani commented on #710
I think I've managed to address all the issues we found. There's a PR to the Yoast repo now:

https://github.com/Yoast/wordpress-seo/pull/19076

[2022-10-22 17:09] oscarssanchez opened #875 "CLI Command: create_guest_author"
Hello,

With a client who didn't have their data in appropriate CSV format we could've used a command that creates a new user with CLI. In the end, we formatted the data but I see people being in the same scenario. It would be helpful if they could just loop through a text file while reading lines, assign values to variables and repeat the same command. Also it would be helpful for people who just

[2022-10-24 19:47] rebeccahum commented on #875
@oscarssanchez Yes, a PR is always welcome!

[2022-10-28 00:30] oscarssanchez opened #878 "BUG: create_guest_author() private method does not display anything when WP_Error is returned"
It seems the intended behavior of: https://github.com/Automattic/Co-Authors-Plus/blob/master/php/class-wp-cli.php#L886 is failing as of now. If I try these steps I'm not able to see what was the problem with the CSV, or if there was a problem at all:

1.- Use this sample file
[test.csv](https://github.com/Automattic/Co-Authors-Plus/files/9883818/test.csv)
2.- Run command: wp co-authors-plus create